//! **************************************************************************
// Written by: Map P.20131013 on Wed Oct 29 13:26:39 2025
//! **************************************************************************

SCHEMATIC START;
COMP "A0" LOCATE = SITE "P30" LEVEL 1;
COMP "A1" LOCATE = SITE "P33" LEVEL 1;
COMP "A2" LOCATE = SITE "P35" LEVEL 1;
COMP "B0" LOCATE = SITE "P116" LEVEL 1;
COMP "A3" LOCATE = SITE "P40" LEVEL 1;
COMP "B1" LOCATE = SITE "P117" LEVEL 1;
COMP "A4" LOCATE = SITE "P69" LEVEL 1;
COMP "B2" LOCATE = SITE "P118" LEVEL 1;
COMP "A5" LOCATE = SITE "P66" LEVEL 1;
COMP "B3" LOCATE = SITE "P119" LEVEL 1;
COMP "A6" LOCATE = SITE "P41" LEVEL 1;
COMP "D0" LOCATE = SITE "P23" LEVEL 1;
COMP "B4" LOCATE = SITE "P120" LEVEL 1;
COMP "A7" LOCATE = SITE "P62" LEVEL 1;
COMP "D1" LOCATE = SITE "P26" LEVEL 1;
COMP "B5" LOCATE = SITE "P121" LEVEL 1;
COMP "A8" LOCATE = SITE "P60" LEVEL 1;
COMP "D2" LOCATE = SITE "P27" LEVEL 1;
COMP "B6" LOCATE = SITE "P123" LEVEL 1;
COMP "A9" LOCATE = SITE "P59" LEVEL 1;
COMP "D3" LOCATE = SITE "P34" LEVEL 1;
COMP "B7" LOCATE = SITE "P124" LEVEL 1;
COMP "D4" LOCATE = SITE "P39" LEVEL 1;
COMP "D5" LOCATE = SITE "P32" LEVEL 1;
COMP "D6" LOCATE = SITE "P29" LEVEL 1;
COMP "D7" LOCATE = SITE "P21" LEVEL 1;
COMP "O0" LOCATE = SITE "P126" LEVEL 1;
COMP "O1" LOCATE = SITE "P127" LEVEL 1;
COMP "O2" LOCATE = SITE "P131" LEVEL 1;
COMP "O3" LOCATE = SITE "P132" LEVEL 1;
COMP "O4" LOCATE = SITE "P133" LEVEL 1;
COMP "O5" LOCATE = SITE "P134" LEVEL 1;
COMP "O6" LOCATE = SITE "P137" LEVEL 1;
COMP "O7" LOCATE = SITE "P138" LEVEL 1;
COMP "UP" LOCATE = SITE "P78" LEVEL 1;
COMP "A10" LOCATE = SITE "P57" LEVEL 1;
COMP "A11" LOCATE = SITE "P55" LEVEL 1;
COMP "A12" LOCATE = SITE "P50" LEVEL 1;
COMP "A13" LOCATE = SITE "P47" LEVEL 1;
COMP "A14" LOCATE = SITE "P45" LEVEL 1;
COMP "A15" LOCATE = SITE "P43" LEVEL 1;
COMP "A0x" LOCATE = SITE "P83" LEVEL 1;
COMP "A1x" LOCATE = SITE "P84" LEVEL 1;
COMP "A2x" LOCATE = SITE "P85" LEVEL 1;
COMP "A3x" LOCATE = SITE "P88" LEVEL 1;
COMP "A4x" LOCATE = SITE "P93" LEVEL 1;
COMP "A5x" LOCATE = SITE "P95" LEVEL 1;
COMP "A6x" LOCATE = SITE "P99" LEVEL 1;
COMP "A7x" LOCATE = SITE "P101" LEVEL 1;
COMP "A8x" LOCATE = SITE "P98" LEVEL 1;
COMP "A9x" LOCATE = SITE "P97" LEVEL 1;
COMP "nM1" LOCATE = SITE "P67" LEVEL 1;
COMP "nRD" LOCATE = SITE "P105" LEVEL 1;
COMP "nWR" LOCATE = SITE "P58" LEVEL 1;
COMP "A10x" LOCATE = SITE "P87" LEVEL 1;
COMP "A11x" LOCATE = SITE "P94" LEVEL 1;
COMP "A12x" LOCATE = SITE "P104" LEVEL 1;
COMP "A13x" LOCATE = SITE "P100" LEVEL 1;
COMP "A14x" LOCATE = SITE "P111" LEVEL 1;
COMP "A15x" LOCATE = SITE "P112" LEVEL 1;
COMP "A16x" LOCATE = SITE "P114" LEVEL 1;
COMP "A17x" LOCATE = SITE "P61" LEVEL 1;
COMP "A18x" LOCATE = SITE "P115" LEVEL 1;
COMP "GET_DATA_REG" LOCATE = SITE "P2" LEVEL 1;
COMP "FIRE" LOCATE = SITE "P82" LEVEL 1;
COMP "LEFT" LOCATE = SITE "P80" LEVEL 1;
COMP "DOWN" LOCATE = SITE "P79" LEVEL 1;
COMP "VRED" LOCATE = SITE "P7" LEVEL 1;
COMP "nWRx" LOCATE = SITE "P102" LEVEL 1;
COMP "nMEM_OE" LOCATE = SITE "P92" LEVEL 1;
COMP "GET_CTRL_REG" LOCATE = SITE "P5" LEVEL 1;
COMP "CSYNC" LOCATE = SITE "P10" LEVEL 1;
COMP "RIGHT" LOCATE = SITE "P81" LEVEL 1;
COMP "VBLUE" LOCATE = SITE "P9" LEVEL 1;
COMP "nHALT" LOCATE = SITE "P46" LEVEL 1;
COMP "nIORQ" LOCATE = SITE "P51" LEVEL 1;
COMP "nMREQ" LOCATE = SITE "P48" LEVEL 1;
COMP "nRFSH" LOCATE = SITE "P74" LEVEL 1;
COMP "test1" LOCATE = SITE "P22" LEVEL 1;
COMP "test2" LOCATE = SITE "P56" LEVEL 1;
COMP "nMEM_OEm" LOCATE = SITE "P142" LEVEL 1;
COMP "BRIGHT" LOCATE = SITE "P11" LEVEL 1;
COMP "VGREEN" LOCATE = SITE "P8" LEVEL 1;
COMP "DEBUG_RDY" LOCATE = SITE "P14" LEVEL 1;
COMP "nCLOCK" LOCATE = SITE "P24" LEVEL 1;
COMP "nRESET" LOCATE = SITE "P139" LEVEL 1;
PIN nRESET_pin<0> = BEL "nRESET" PINNAME PAD;
PIN "nRESET_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "nOE_OL" LOCATE = SITE "P12" LEVEL 1;
COMP "CFG_RESET" LOCATE = SITE "P16" LEVEL 1;
COMP "SEL_128CHARS" LOCATE = SITE "P141" LEVEL 1;
COMP "CFG_DATA" LOCATE = SITE "P15" LEVEL 1;
COMP "test_NMI" LOCATE = SITE "P44" LEVEL 1;
COMP "nRST_DATA_REG" LOCATE = SITE "P144" LEVEL 1;
COMP "MICRO_DB_CLK" LOCATE = SITE "P143" LEVEL 1;
COMP "CFG_CLK" LOCATE = SITE "P17" LEVEL 1;
COMP "CTRL_CLK" LOCATE = SITE "P6" LEVEL 1;
COMP "nRST_CTRL_REG" LOCATE = SITE "P1" LEVEL 1;
PIN SP6_BUFIO_INSERT_ML_BUFIO2_0_pins<0> = BEL "SP6_BUFIO_INSERT_ML_BUFIO2_0"
        PINNAME DIVCLK;
PIN dcm_booster_inst_pins<2> = BEL "dcm_booster_inst" PINNAME CLKIN;
TIMEGRP nCLOCK = BEL "trace_mode" BEL "old_nRD" BEL "trace_127_0" BEL
        "trace_127_1" BEL "trace_127_2" BEL "trace_127_3" BEL "trace_127_4"
        BEL "trace_127_5" BEL "trace_127_6" BEL "trace_127_7" BEL
        "trace_127_8" BEL "trace_127_9" BEL "trace_127_10" BEL "trace_127_11"
        BEL "trace_127_12" BEL "trace_127_13" BEL "trace_127_14" BEL
        "trace_127_15" BEL "trace_127_16" BEL "trace_127_17" BEL
        "trace_127_18" BEL "trace_127_19" BEL "trace_127_20" BEL
        "trace_127_21" BEL "trace_127_22" BEL "trace_127_23" BEL
        "trace_127_24" BEL "trace_127_25" BEL "trace_127_26" BEL
        "trace_127_27" BEL "trace_127_28" BEL "trace_127_29" BEL
        "trace_127_30" BEL "trace_127_31" BEL "trace_127_32" BEL
        "trace_127_33" BEL "trace_127_34" BEL "trace_127_35" BEL
        "trace_127_36" BEL "trace_127_37" BEL "trace_127_38" BEL
        "trace_127_39" BEL "trace_127_40" BEL "trace_127_41" BEL
        "trace_127_42" BEL "trace_127_43" BEL "trace_127_44" BEL
        "trace_127_45" BEL "trace_127_46" BEL "trace_127_47" BEL
        "trace_127_48" BEL "trace_127_49" BEL "trace_127_50" BEL
        "trace_127_51" BEL "trace_127_52" BEL "trace_127_53" BEL
        "trace_127_54" BEL "trace_127_55" BEL "trace_127_56" BEL
        "trace_127_57" BEL "trace_127_58" BEL "trace_127_59" BEL
        "trace_127_60" BEL "trace_127_61" BEL "trace_127_62" BEL
        "trace_127_63" BEL "trace_127_64" BEL "trace_127_65" BEL
        "trace_127_66" BEL "trace_127_67" BEL "trace_127_68" BEL
        "trace_127_69" BEL "trace_127_70" BEL "trace_127_71" BEL
        "trace_127_72" BEL "trace_127_73" BEL "trace_127_74" BEL
        "trace_127_75" BEL "trace_127_76" BEL "trace_127_77" BEL
        "trace_127_78" BEL "trace_127_79" BEL "trace_127_80" BEL
        "trace_127_81" BEL "trace_127_82" BEL "trace_127_83" BEL
        "trace_127_84" BEL "trace_127_85" BEL "trace_127_86" BEL
        "trace_127_87" BEL "trace_127_88" BEL "trace_127_89" BEL
        "trace_127_90" BEL "trace_127_91" BEL "trace_127_92" BEL
        "trace_127_93" BEL "trace_127_94" BEL "trace_127_95" BEL
        "trace_127_96" BEL "trace_127_97" BEL "trace_127_98" BEL
        "trace_127_99" BEL "trace_127_100" BEL "trace_127_101" BEL
        "trace_127_102" BEL "trace_127_103" BEL "trace_127_104" BEL
        "trace_127_105" BEL "trace_127_106" BEL "trace_127_107" BEL
        "trace_127_108" BEL "trace_127_109" BEL "trace_127_110" BEL
        "trace_127_111" BEL "trace_127_112" BEL "trace_127_113" BEL
        "trace_127_114" BEL "trace_127_115" BEL "trace_127_116" BEL
        "trace_127_117" BEL "trace_127_118" BEL "trace_127_119" BEL
        "trace_127_120" BEL "trace_127_121" BEL "trace_127_122" BEL
        "trace_127_123" BEL "trace_127_124" BEL "trace_127_125" BEL
        "trace_127_126" BEL "trace_127_127" BEL "trace_127_128" BEL
        "trace_127_129" BEL "trace_127_130" BEL "trace_127_131" BEL
        "trace_127_132" BEL "trace_127_133" BEL "trace_127_134" BEL
        "trace_127_135" BEL "trace_127_136" BEL "trace_127_137" BEL
        "trace_127_138" BEL "trace_127_139" BEL "trace_127_140" BEL
        "trace_127_141" BEL "trace_127_142" BEL "trace_127_143" BEL
        "trace_127_144" BEL "trace_127_145" BEL "trace_127_146" BEL
        "trace_127_147" BEL "trace_127_148" BEL "trace_127_149" BEL
        "trace_127_150" BEL "trace_127_151" BEL "trace_127_152" BEL
        "trace_127_153" BEL "trace_127_154" BEL "trace_127_155" BEL
        "trace_127_156" BEL "trace_127_157" BEL "trace_127_158" BEL
        "trace_127_159" BEL "trace_127_160" BEL "trace_127_161" BEL
        "trace_127_162" BEL "trace_127_163" BEL "trace_127_164" BEL
        "trace_127_165" BEL "trace_127_166" BEL "trace_127_167" BEL
        "trace_127_168" BEL "trace_127_169" BEL "trace_127_170" BEL
        "trace_127_171" BEL "trace_127_172" BEL "trace_127_173" BEL
        "trace_127_174" BEL "trace_127_175" BEL "trace_127_176" BEL
        "trace_127_177" BEL "trace_127_178" BEL "trace_127_179" BEL
        "trace_127_180" BEL "trace_127_181" BEL "trace_127_182" BEL
        "trace_127_183" BEL "trace_127_184" BEL "trace_127_185" BEL
        "trace_127_186" BEL "trace_127_187" BEL "trace_127_188" BEL
        "trace_127_189" BEL "trace_127_190" BEL "trace_127_191" BEL
        "trace_127_192" BEL "trace_127_193" BEL "trace_127_194" BEL
        "trace_127_195" BEL "trace_127_196" BEL "trace_127_197" BEL
        "trace_127_198" BEL "trace_127_199" BEL "trace_127_200" BEL
        "trace_127_201" BEL "trace_127_202" BEL "trace_127_203" BEL
        "trace_127_204" BEL "trace_127_205" BEL "trace_127_206" BEL
        "trace_127_207" BEL "trace_127_208" BEL "trace_127_209" BEL
        "trace_127_210" BEL "trace_127_211" BEL "trace_127_212" BEL
        "trace_127_213" BEL "trace_127_214" BEL "trace_127_215" BEL
        "trace_127_216" BEL "trace_127_217" BEL "trace_127_218" BEL
        "trace_127_219" BEL "trace_127_220" BEL "trace_127_221" BEL
        "trace_127_222" BEL "trace_127_223" BEL "trace_127_224" BEL
        "trace_127_225" BEL "trace_127_226" BEL "trace_127_227" BEL
        "trace_127_228" BEL "trace_127_229" BEL "trace_127_230" BEL
        "trace_127_231" BEL "trace_127_232" BEL "trace_127_233" BEL
        "trace_127_234" BEL "trace_127_235" BEL "trace_127_236" BEL
        "trace_127_237" BEL "trace_127_238" BEL "trace_127_239" BEL
        "trace_127_240" BEL "trace_127_241" BEL "trace_127_242" BEL
        "trace_127_243" BEL "trace_127_244" BEL "trace_127_245" BEL
        "trace_127_246" BEL "trace_127_247" BEL "trace_127_248" BEL
        "trace_127_249" BEL "trace_127_250" BEL "trace_127_251" BEL
        "trace_127_252" BEL "trace_127_253" BEL "trace_127_254" BEL
        "trace_127_255" BEL "trace_127_256" BEL "trace_127_257" BEL
        "trace_127_258" BEL "trace_127_259" BEL "trace_127_260" BEL
        "trace_127_261" BEL "trace_127_262" BEL "trace_127_263" BEL
        "trace_127_264" BEL "trace_127_265" BEL "trace_127_266" BEL
        "trace_127_267" BEL "trace_127_268" BEL "trace_127_269" BEL
        "trace_127_270" BEL "trace_127_271" BEL "trace_127_272" BEL
        "trace_127_273" BEL "trace_127_274" BEL "trace_127_275" BEL
        "trace_127_276" BEL "trace_127_277" BEL "trace_127_278" BEL
        "trace_127_279" BEL "trace_127_280" BEL "trace_127_281" BEL
        "trace_127_282" BEL "trace_127_283" BEL "trace_127_284" BEL
        "trace_127_285" BEL "trace_127_286" BEL "trace_127_287" BEL
        "trace_127_288" BEL "trace_127_289" BEL "trace_127_290" BEL
        "trace_127_291" BEL "trace_127_292" BEL "trace_127_293" BEL
        "trace_127_294" BEL "trace_127_295" BEL "trace_127_296" BEL
        "trace_127_297" BEL "trace_127_298" BEL "trace_127_299" BEL
        "trace_127_300" BEL "trace_127_301" BEL "trace_127_302" BEL
        "trace_127_303" BEL "trace_127_304" BEL "trace_127_305" BEL
        "trace_127_306" BEL "trace_127_307" BEL "trace_127_308" BEL
        "trace_127_309" BEL "trace_127_310" BEL "trace_127_311" BEL
        "trace_127_312" BEL "trace_127_313" BEL "trace_127_314" BEL
        "trace_127_315" BEL "trace_127_316" BEL "trace_127_317" BEL
        "trace_127_318" BEL "trace_127_319" BEL "trace_127_320" BEL
        "trace_127_321" BEL "trace_127_322" BEL "trace_127_323" BEL
        "trace_127_324" BEL "trace_127_325" BEL "trace_127_326" BEL
        "trace_127_327" BEL "trace_127_328" BEL "trace_127_329" BEL
        "trace_127_330" BEL "trace_127_331" BEL "trace_127_332" BEL
        "trace_127_333" BEL "trace_127_334" BEL "trace_127_335" BEL
        "trace_127_336" BEL "trace_127_337" BEL "trace_127_338" BEL
        "trace_127_339" BEL "trace_127_340" BEL "trace_127_341" BEL
        "trace_127_342" BEL "trace_127_343" BEL "trace_127_344" BEL
        "trace_127_345" BEL "trace_127_346" BEL "trace_127_347" BEL
        "trace_127_348" BEL "trace_127_349" BEL "trace_127_350" BEL
        "trace_127_351" BEL "trace_127_352" BEL "trace_127_353" BEL
        "trace_127_354" BEL "trace_127_355" BEL "trace_127_356" BEL
        "trace_127_357" BEL "trace_127_358" BEL "trace_127_359" BEL
        "trace_127_360" BEL "trace_127_361" BEL "trace_127_362" BEL
        "trace_127_363" BEL "trace_127_364" BEL "trace_127_365" BEL
        "trace_127_366" BEL "trace_127_367" BEL "trace_127_368" BEL
        "trace_127_369" BEL "trace_127_370" BEL "trace_127_371" BEL
        "trace_127_372" BEL "trace_127_373" BEL "trace_127_374" BEL
        "trace_127_375" BEL "trace_127_376" BEL "trace_127_377" BEL
        "trace_127_378" BEL "trace_127_379" BEL "trace_127_380" BEL
        "trace_127_381" BEL "trace_127_382" BEL "trace_127_383" BEL
        "trace_127_384" BEL "trace_127_385" BEL "trace_127_386" BEL
        "trace_127_387" BEL "trace_127_388" BEL "trace_127_389" BEL
        "trace_127_390" BEL "trace_127_391" BEL "trace_127_392" BEL
        "trace_127_393" BEL "trace_127_394" BEL "trace_127_395" BEL
        "trace_127_396" BEL "trace_127_397" BEL "trace_127_398" BEL
        "trace_127_399" BEL "trace_127_400" BEL "trace_127_401" BEL
        "trace_127_402" BEL "trace_127_403" BEL "trace_127_404" BEL
        "trace_127_405" BEL "trace_127_406" BEL "trace_127_407" BEL
        "trace_127_408" BEL "trace_127_409" BEL "trace_127_410" BEL
        "trace_127_411" BEL "trace_127_412" BEL "trace_127_413" BEL
        "trace_127_414" BEL "trace_127_415" BEL "trace_127_416" BEL
        "trace_127_417" BEL "trace_127_418" BEL "trace_127_419" BEL
        "trace_127_420" BEL "trace_127_421" BEL "trace_127_422" BEL
        "trace_127_423" BEL "trace_127_424" BEL "trace_127_425" BEL
        "trace_127_426" BEL "trace_127_427" BEL "trace_127_428" BEL
        "trace_127_429" BEL "trace_127_430" BEL "trace_127_431" BEL
        "trace_127_432" BEL "trace_127_433" BEL "trace_127_434" BEL
        "trace_127_435" BEL "trace_127_436" BEL "trace_127_437" BEL
        "trace_127_438" BEL "trace_127_439" BEL "trace_127_440" BEL
        "trace_127_441" BEL "trace_127_442" BEL "trace_127_443" BEL
        "trace_127_444" BEL "trace_127_445" BEL "trace_127_446" BEL
        "trace_127_447" BEL "trace_127_448" BEL "trace_127_449" BEL
        "trace_127_450" BEL "trace_127_451" BEL "trace_127_452" BEL
        "trace_127_453" BEL "trace_127_454" BEL "trace_127_455" BEL
        "trace_127_456" BEL "trace_127_457" BEL "trace_127_458" BEL
        "trace_127_459" BEL "trace_127_460" BEL "trace_127_461" BEL
        "trace_127_462" BEL "trace_127_463" BEL "trace_127_464" BEL
        "trace_127_465" BEL "trace_127_466" BEL "trace_127_467" BEL
        "trace_127_468" BEL "trace_127_469" BEL "trace_127_470" BEL
        "trace_127_471" BEL "trace_127_472" BEL "trace_127_473" BEL
        "trace_127_474" BEL "trace_127_475" BEL "trace_127_476" BEL
        "trace_127_477" BEL "trace_127_478" BEL "trace_127_479" BEL
        "trace_127_480" BEL "trace_127_481" BEL "trace_127_482" BEL
        "trace_127_483" BEL "trace_127_484" BEL "trace_127_485" BEL
        "trace_127_486" BEL "trace_127_487" BEL "trace_127_488" BEL
        "trace_127_489" BEL "trace_127_490" BEL "trace_127_491" BEL
        "trace_127_492" BEL "trace_127_493" BEL "trace_127_494" BEL
        "trace_127_495" BEL "trace_127_496" BEL "trace_127_497" BEL
        "trace_127_498" BEL "trace_127_499" BEL "trace_127_500" BEL
        "trace_127_501" BEL "trace_127_502" BEL "trace_127_503" BEL
        "trace_127_504" BEL "trace_127_505" BEL "trace_127_506" BEL
        "trace_127_507" BEL "trace_127_508" BEL "trace_127_509" BEL
        "trace_127_510" BEL "trace_127_511" BEL "trace_127_512" BEL
        "trace_127_513" BEL "trace_127_514" BEL "trace_127_515" BEL
        "trace_127_516" BEL "trace_127_517" BEL "trace_127_518" BEL
        "trace_127_519" BEL "trace_127_520" BEL "trace_127_521" BEL
        "trace_127_522" BEL "trace_127_523" BEL "trace_127_524" BEL
        "trace_127_525" BEL "trace_127_526" BEL "trace_127_527" BEL
        "trace_127_528" BEL "trace_127_529" BEL "trace_127_530" BEL
        "trace_127_531" BEL "trace_127_532" BEL "trace_127_533" BEL
        "trace_127_534" BEL "trace_127_535" BEL "trace_127_536" BEL
        "trace_127_537" BEL "trace_127_538" BEL "trace_127_539" BEL
        "trace_127_540" BEL "trace_127_541" BEL "trace_127_542" BEL
        "trace_127_543" BEL "trace_127_544" BEL "trace_127_545" BEL
        "trace_127_546" BEL "trace_127_547" BEL "trace_127_548" BEL
        "trace_127_549" BEL "trace_127_550" BEL "trace_127_551" BEL
        "trace_127_552" BEL "trace_127_553" BEL "trace_127_554" BEL
        "trace_127_555" BEL "trace_127_556" BEL "trace_127_557" BEL
        "trace_127_558" BEL "trace_127_559" BEL "trace_127_560" BEL
        "trace_127_561" BEL "trace_127_562" BEL "trace_127_563" BEL
        "trace_127_564" BEL "trace_127_565" BEL "trace_127_566" BEL
        "trace_127_567" BEL "trace_127_568" BEL "trace_127_569" BEL
        "trace_127_570" BEL "trace_127_571" BEL "trace_127_572" BEL
        "trace_127_573" BEL "trace_127_574" BEL "trace_127_575" BEL
        "trace_127_576" BEL "trace_127_577" BEL "trace_127_578" BEL
        "trace_127_579" BEL "trace_127_580" BEL "trace_127_581" BEL
        "trace_127_582" BEL "trace_127_583" BEL "trace_127_584" BEL
        "trace_127_585" BEL "trace_127_586" BEL "trace_127_587" BEL
        "trace_127_588" BEL "trace_127_589" BEL "trace_127_590" BEL
        "trace_127_591" BEL "trace_127_592" BEL "trace_127_593" BEL
        "trace_127_594" BEL "trace_127_595" BEL "trace_127_596" BEL
        "trace_127_597" BEL "trace_127_598" BEL "trace_127_599" BEL
        "trace_127_600" BEL "trace_127_601" BEL "trace_127_602" BEL
        "trace_127_603" BEL "trace_127_604" BEL "trace_127_605" BEL
        "trace_127_606" BEL "trace_127_607" BEL "trace_127_608" BEL
        "trace_127_609" BEL "trace_127_610" BEL "trace_127_611" BEL
        "trace_127_612" BEL "trace_127_613" BEL "trace_127_614" BEL
        "trace_127_615" BEL "trace_127_616" BEL "trace_127_617" BEL
        "trace_127_618" BEL "trace_127_619" BEL "trace_127_620" BEL
        "trace_127_621" BEL "trace_127_622" BEL "trace_127_623" BEL
        "trace_127_624" BEL "trace_127_625" BEL "trace_127_626" BEL
        "trace_127_627" BEL "trace_127_628" BEL "trace_127_629" BEL
        "trace_127_630" BEL "trace_127_631" BEL "trace_127_632" BEL
        "trace_127_633" BEL "trace_127_634" BEL "trace_127_635" BEL
        "trace_127_636" BEL "trace_127_637" BEL "trace_127_638" BEL
        "trace_127_639" BEL "trace_127_640" BEL "trace_127_641" BEL
        "trace_127_642" BEL "trace_127_643" BEL "trace_127_644" BEL
        "trace_127_645" BEL "trace_127_646" BEL "trace_127_647" BEL
        "trace_127_648" BEL "trace_127_649" BEL "trace_127_650" BEL
        "trace_127_651" BEL "trace_127_652" BEL "trace_127_653" BEL
        "trace_127_654" BEL "trace_127_655" BEL "trace_127_656" BEL
        "trace_127_657" BEL "trace_127_658" BEL "trace_127_659" BEL
        "trace_127_660" BEL "trace_127_661" BEL "trace_127_662" BEL
        "trace_127_663" BEL "trace_127_664" BEL "trace_127_665" BEL
        "trace_127_666" BEL "trace_127_667" BEL "trace_127_668" BEL
        "trace_127_669" BEL "trace_127_670" BEL "trace_127_671" BEL
        "trace_127_672" BEL "trace_127_673" BEL "trace_127_674" BEL
        "trace_127_675" BEL "trace_127_676" BEL "trace_127_677" BEL
        "trace_127_678" BEL "trace_127_679" BEL "trace_127_680" BEL
        "trace_127_681" BEL "trace_127_682" BEL "trace_127_683" BEL
        "trace_127_684" BEL "trace_127_685" BEL "trace_127_686" BEL
        "trace_127_687" BEL "trace_127_688" BEL "trace_127_689" BEL
        "trace_127_690" BEL "trace_127_691" BEL "trace_127_692" BEL
        "trace_127_693" BEL "trace_127_694" BEL "trace_127_695" BEL
        "trace_127_696" BEL "trace_127_697" BEL "trace_127_698" BEL
        "trace_127_699" BEL "trace_127_700" BEL "trace_127_701" BEL
        "trace_127_702" BEL "trace_127_703" BEL "trace_127_704" BEL
        "trace_127_705" BEL "trace_127_706" BEL "trace_127_707" BEL
        "trace_127_708" BEL "trace_127_709" BEL "trace_127_710" BEL
        "trace_127_711" BEL "trace_127_712" BEL "trace_127_713" BEL
        "trace_127_714" BEL "trace_127_715" BEL "trace_127_716" BEL
        "trace_127_717" BEL "trace_127_718" BEL "trace_127_719" BEL
        "trace_127_720" BEL "trace_127_721" BEL "trace_127_722" BEL
        "trace_127_723" BEL "trace_127_724" BEL "trace_127_725" BEL
        "trace_127_726" BEL "trace_127_727" BEL "trace_127_728" BEL
        "trace_127_729" BEL "trace_127_730" BEL "trace_127_731" BEL
        "trace_127_732" BEL "trace_127_733" BEL "trace_127_734" BEL
        "trace_127_735" BEL "trace_127_736" BEL "trace_127_737" BEL
        "trace_127_738" BEL "trace_127_739" BEL "trace_127_740" BEL
        "trace_127_741" BEL "trace_127_742" BEL "trace_127_743" BEL
        "trace_127_744" BEL "trace_127_745" BEL "trace_127_746" BEL
        "trace_127_747" BEL "trace_127_748" BEL "trace_127_749" BEL
        "trace_127_750" BEL "trace_127_751" BEL "trace_127_752" BEL
        "trace_127_753" BEL "trace_127_754" BEL "trace_127_755" BEL
        "trace_127_756" BEL "trace_127_757" BEL "trace_127_758" BEL
        "trace_127_759" BEL "trace_127_760" BEL "trace_127_761" BEL
        "trace_127_762" BEL "trace_127_763" BEL "trace_127_764" BEL
        "trace_127_765" BEL "trace_127_766" BEL "trace_127_767" BEL
        "trace_127_768" BEL "trace_127_769" BEL "trace_127_770" BEL
        "trace_127_771" BEL "trace_127_772" BEL "trace_127_773" BEL
        "trace_127_774" BEL "trace_127_775" BEL "trace_127_776" BEL
        "trace_127_777" BEL "trace_127_778" BEL "trace_127_779" BEL
        "trace_127_780" BEL "trace_127_781" BEL "trace_127_782" BEL
        "trace_127_783" BEL "trace_127_784" BEL "trace_127_785" BEL
        "trace_127_786" BEL "trace_127_787" BEL "trace_127_788" BEL
        "trace_127_789" BEL "trace_127_790" BEL "trace_127_791" BEL
        "trace_127_792" BEL "trace_127_793" BEL "trace_127_794" BEL
        "trace_127_795" BEL "trace_127_796" BEL "trace_127_797" BEL
        "trace_127_798" BEL "trace_127_799" BEL "trace_127_800" BEL
        "trace_127_801" BEL "trace_127_802" BEL "trace_127_803" BEL
        "trace_127_804" BEL "trace_127_805" BEL "trace_127_806" BEL
        "trace_127_807" BEL "trace_127_808" BEL "trace_127_809" BEL
        "trace_127_810" BEL "trace_127_811" BEL "trace_127_812" BEL
        "trace_127_813" BEL "trace_127_814" BEL "trace_127_815" BEL
        "trace_127_816" BEL "trace_127_817" BEL "trace_127_818" BEL
        "trace_127_819" BEL "trace_127_820" BEL "trace_127_821" BEL
        "trace_127_822" BEL "trace_127_823" BEL "trace_127_824" BEL
        "trace_127_825" BEL "trace_127_826" BEL "trace_127_827" BEL
        "trace_127_828" BEL "trace_127_829" BEL "trace_127_830" BEL
        "trace_127_831" BEL "trace_127_832" BEL "trace_127_833" BEL
        "trace_127_834" BEL "trace_127_835" BEL "trace_127_836" BEL
        "trace_127_837" BEL "trace_127_838" BEL "trace_127_839" BEL
        "trace_127_840" BEL "trace_127_841" BEL "trace_127_842" BEL
        "trace_127_843" BEL "trace_127_844" BEL "trace_127_845" BEL
        "trace_127_846" BEL "trace_127_847" BEL "trace_127_848" BEL
        "trace_127_849" BEL "trace_127_850" BEL "trace_127_851" BEL
        "trace_127_852" BEL "trace_127_853" BEL "trace_127_854" BEL
        "trace_127_855" BEL "trace_127_856" BEL "trace_127_857" BEL
        "trace_127_858" BEL "trace_127_859" BEL "trace_127_860" BEL
        "trace_127_861" BEL "trace_127_862" BEL "trace_127_863" BEL
        "trace_127_864" BEL "trace_127_865" BEL "trace_127_866" BEL
        "trace_127_867" BEL "trace_127_868" BEL "trace_127_869" BEL
        "trace_127_870" BEL "trace_127_871" BEL "trace_127_872" BEL
        "trace_127_873" BEL "trace_127_874" BEL "trace_127_875" BEL
        "trace_127_876" BEL "trace_127_877" BEL "trace_127_878" BEL
        "trace_127_879" BEL "trace_127_880" BEL "trace_127_881" BEL
        "trace_127_882" BEL "trace_127_883" BEL "trace_127_884" BEL
        "trace_127_885" BEL "trace_127_886" BEL "trace_127_887" BEL
        "trace_127_888" BEL "trace_127_889" BEL "trace_127_890" BEL
        "trace_127_891" BEL "trace_127_892" BEL "trace_127_893" BEL
        "trace_127_894" BEL "trace_127_895" BEL "trace_127_896" BEL
        "trace_127_897" BEL "trace_127_898" BEL "trace_127_899" BEL
        "trace_127_900" BEL "trace_127_901" BEL "trace_127_902" BEL
        "trace_127_903" BEL "trace_127_904" BEL "trace_127_905" BEL
        "trace_127_906" BEL "trace_127_907" BEL "trace_127_908" BEL
        "trace_127_909" BEL "trace_127_910" BEL "trace_127_911" BEL
        "trace_127_912" BEL "trace_127_913" BEL "trace_127_914" BEL
        "trace_127_915" BEL "trace_127_916" BEL "trace_127_917" BEL
        "trace_127_918" BEL "trace_127_919" BEL "trace_127_920" BEL
        "trace_127_921" BEL "trace_127_922" BEL "trace_127_923" BEL
        "trace_127_924" BEL "trace_127_925" BEL "trace_127_926" BEL
        "trace_127_927" BEL "trace_127_928" BEL "trace_127_929" BEL
        "trace_127_930" BEL "trace_127_931" BEL "trace_127_932" BEL
        "trace_127_933" BEL "trace_127_934" BEL "trace_127_935" BEL
        "trace_127_936" BEL "trace_127_937" BEL "trace_127_938" BEL
        "trace_127_939" BEL "trace_127_940" BEL "trace_127_941" BEL
        "trace_127_942" BEL "trace_127_943" BEL "trace_127_944" BEL
        "trace_127_945" BEL "trace_127_946" BEL "trace_127_947" BEL
        "trace_127_948" BEL "trace_127_949" BEL "trace_127_950" BEL
        "trace_127_951" BEL "trace_127_952" BEL "trace_127_953" BEL
        "trace_127_954" BEL "trace_127_955" BEL "trace_127_956" BEL
        "trace_127_957" BEL "trace_127_958" BEL "trace_127_959" BEL
        "trace_127_960" BEL "trace_127_961" BEL "trace_127_962" BEL
        "trace_127_963" BEL "trace_127_964" BEL "trace_127_965" BEL
        "trace_127_966" BEL "trace_127_967" BEL "trace_127_968" BEL
        "trace_127_969" BEL "trace_127_970" BEL "trace_127_971" BEL
        "trace_127_972" BEL "trace_127_973" BEL "trace_127_974" BEL
        "trace_127_975" BEL "trace_127_976" BEL "trace_127_977" BEL
        "trace_127_978" BEL "trace_127_979" BEL "trace_127_980" BEL
        "trace_127_981" BEL "trace_127_982" BEL "trace_127_983" BEL
        "trace_127_984" BEL "trace_127_985" BEL "trace_127_986" BEL
        "trace_127_987" BEL "trace_127_988" BEL "trace_127_989" BEL
        "trace_127_990" BEL "trace_127_991" BEL "trace_127_992" BEL
        "trace_127_993" BEL "trace_127_994" BEL "trace_127_995" BEL
        "trace_127_996" BEL "trace_127_997" BEL "trace_127_998" BEL
        "trace_127_999" BEL "trace_127_1000" BEL "trace_127_1001" BEL
        "trace_127_1002" BEL "trace_127_1003" BEL "trace_127_1004" BEL
        "trace_127_1005" BEL "trace_127_1006" BEL "trace_127_1007" BEL
        "trace_127_1008" BEL "trace_127_1009" BEL "trace_127_1010" BEL
        "trace_127_1011" BEL "trace_127_1012" BEL "trace_127_1013" BEL
        "trace_127_1014" BEL "trace_127_1015" BEL "trace_127_1016" BEL
        "trace_127_1017" BEL "trace_127_1018" BEL "trace_127_1019" BEL
        "trace_127_1020" BEL "trace_127_1021" BEL "trace_127_1022" BEL
        "trace_127_1023" BEL "debug_rdy_delayed_0" BEL "debug_rdy_delayed_1"
        BEL "debug_rdy_delayed_2" BEL "debug_rdy_delayed_3" BEL
        "debug_rdy_delayed_4" BEL "debug_rdy_delayed_5" BEL
        "debug_rdy_delayed_6" BEL "debug_rdy_delayed_7" BEL "old_vsync2" BEL
        "trace_pos_0" BEL "trace_pos_1" BEL "trace_pos_2" BEL "trace_pos_3"
        BEL "trace_pos_4" BEL "trace_pos_5" BEL "trace_pos_6" BEL
        "trace_pos_7" BEL "sending_trace" BEL "debug_data_0" BEL
        "debug_data_1" BEL "debug_data_2" BEL "debug_data_3" BEL
        "debug_data_4" BEL "debug_data_5" BEL "debug_data_6" BEL
        "debug_data_7" BEL "trace_data_rdy" BEL "prev_micro_db_clk" BEL
        "FRAMES_0" BEL "FRAMES_1" BEL "FRAMES_2" BEL "FRAMES_3" BEL "FRAMES_4"
        BEL "FRAMES_5" BEL "FRAMES_6" BEL "FRAMES_7" BEL "FRAMES_8" BEL
        "FRAMES_9" BEL "FRAMES_10" BEL "FRAMES_11" BEL "FRAMES_12" BEL
        "FRAMES_13" BEL "FRAMES_14" BEL "FRAMES_15" BEL "DFILE_0" BEL
        "DFILE_1" BEL "DFILE_2" BEL "DFILE_3" BEL "DFILE_4" BEL "DFILE_5" BEL
        "DFILE_6" BEL "DFILE_7" BEL "DFILE_8" BEL "DFILE_9" BEL "DFILE_10" BEL
        "DFILE_11" BEL "DFILE_12" BEL "DFILE_13" BEL "DFILE_14" BEL "DFILE_15"
        BEL "nCLOCK_IBUFG_BUFG" PIN "SP6_BUFIO_INSERT_ML_BUFIO2_0_pins<0>" PIN
        "dcm_booster_inst_pins<2>";
PIN dcm_final_inst/dcm_sp_inst_pins<1> = BEL "dcm_final_inst/dcm_sp_inst"
        PINNAME CLKFB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[31].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[31].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[31].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[31].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[30].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[30].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[30].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[30].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[29].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[29].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[29].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[29].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[28].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[28].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[28].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[28].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[27].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[27].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[27].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[27].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[26].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[26].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[26].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[26].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[25].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[25].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[25].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[25].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[24].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[24].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[24].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[24].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[23].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[23].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[23].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[23].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[22].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[22].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[22].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[22].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[21].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[21].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[21].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[21].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[20].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[20].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[20].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[20].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[19].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[19].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[19].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[19].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[18].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[18].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[18].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[18].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[17].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[17].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[17].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[17].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[16].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[16].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[16].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[16].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[15].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[15].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[15].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[15].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[14].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[14].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[14].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[14].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[13].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[13].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[13].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[13].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[12].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[12].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[12].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[12].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[11].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[11].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[11].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[11].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[10].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[10].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[10].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[10].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[9].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[9].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[9].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[9].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[8].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[8].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[8].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[8].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
TIMEGRP dcm_final_inst_clk2x = BEL "forced_NOP_cycle" BEL "old_vsync" BEL
        "old_hsync" BEL "char_latch_0" BEL "char_latch_1" BEL "char_latch_2"
        BEL "char_latch_3" BEL "char_latch_4" BEL "char_latch_5" BEL
        "char_latch_6" BEL "char_latch_7" BEL "attr_latch_0" BEL
        "attr_latch_1" BEL "attr_latch_2" BEL "attr_latch_3" BEL
        "attr_latch_4" BEL "attr_latch_5" BEL "attr_latch_6" BEL
        "attr_latch_7" BEL "aychips[1].ay/envelope_period_15" BEL
        "aychips[1].ay/envelope_period_14" BEL
        "aychips[1].ay/envelope_period_13" BEL
        "aychips[1].ay/envelope_period_12" BEL
        "aychips[1].ay/envelope_period_11" BEL
        "aychips[1].ay/envelope_period_10" BEL
        "aychips[1].ay/envelope_period_9" BEL
        "aychips[1].ay/envelope_period_8" BEL
        "aychips[1].ay/envelope_period_7" BEL
        "aychips[1].ay/envelope_period_6" BEL
        "aychips[1].ay/envelope_period_5" BEL
        "aychips[1].ay/envelope_period_4" BEL
        "aychips[1].ay/envelope_period_3" BEL
        "aychips[1].ay/envelope_period_2" BEL
        "aychips[1].ay/envelope_period_1" BEL
        "aychips[1].ay/envelope_period_0" BEL "aychips[1].ay/period_c_11" BEL
        "aychips[1].ay/period_c_10" BEL "aychips[1].ay/period_c_9" BEL
        "aychips[1].ay/period_c_8" BEL "aychips[1].ay/period_c_7" BEL
        "aychips[1].ay/period_c_6" BEL "aychips[1].ay/period_c_5" BEL
        "aychips[1].ay/period_c_4" BEL "aychips[1].ay/period_c_3" BEL
        "aychips[1].ay/period_c_2" BEL "aychips[1].ay/period_c_1" BEL
        "aychips[1].ay/period_c_0" BEL "aychips[1].ay/period_b_11" BEL
        "aychips[1].ay/period_b_10" BEL "aychips[1].ay/period_b_9" BEL
        "aychips[1].ay/period_b_8" BEL "aychips[1].ay/period_b_7" BEL
        "aychips[1].ay/period_b_6" BEL "aychips[1].ay/period_b_5" BEL
        "aychips[1].ay/period_b_4" BEL "aychips[1].ay/period_b_3" BEL
        "aychips[1].ay/period_b_2" BEL "aychips[1].ay/period_b_1" BEL
        "aychips[1].ay/period_b_0" BEL "aychips[1].ay/period_a_11" BEL
        "aychips[1].ay/period_a_10" BEL "aychips[1].ay/period_a_9" BEL
        "aychips[1].ay/period_a_8" BEL "aychips[1].ay/period_a_7" BEL
        "aychips[1].ay/period_a_6" BEL "aychips[1].ay/period_a_5" BEL
        "aychips[1].ay/period_a_4" BEL "aychips[1].ay/period_a_3" BEL
        "aychips[1].ay/period_a_2" BEL "aychips[1].ay/period_a_1" BEL
        "aychips[1].ay/period_a_0" BEL "aychips[1].ay/amp_c_3" BEL
        "aychips[1].ay/amp_c_2" BEL "aychips[1].ay/amp_c_1" BEL
        "aychips[1].ay/amp_c_0" BEL "aychips[1].ay/envelope_shape_3" BEL
        "aychips[1].ay/envelope_shape_2" BEL "aychips[1].ay/envelope_shape_1"
        BEL "aychips[1].ay/envelope_shape_0" BEL "aychips[1].ay/amp_a_3" BEL
        "aychips[1].ay/amp_a_2" BEL "aychips[1].ay/amp_a_1" BEL
        "aychips[1].ay/amp_a_0" BEL "aychips[1].ay/ampmode_c" BEL
        "aychips[1].ay/amp_b_3" BEL "aychips[1].ay/amp_b_2" BEL
        "aychips[1].ay/amp_b_1" BEL "aychips[1].ay/amp_b_0" BEL
        "aychips[1].ay/ampmode_a" BEL "aychips[1].ay/noise_period_4" BEL
        "aychips[1].ay/noise_period_3" BEL "aychips[1].ay/noise_period_2" BEL
        "aychips[1].ay/noise_period_1" BEL "aychips[1].ay/noise_period_0" BEL
        "aychips[1].ay/ampmode_b" BEL "aychips[1].ay/enable_chan_7" BEL
        "aychips[1].ay/enable_chan_6" BEL "aychips[1].ay/enable_chan_5" BEL
        "aychips[1].ay/enable_chan_4" BEL "aychips[1].ay/enable_chan_3" BEL
        "aychips[1].ay/enable_chan_2" BEL "aychips[1].ay/enable_chan_1" BEL
        "aychips[1].ay/enable_chan_0" BEL "aychips[1].ay/reg_port_b_7" BEL
        "aychips[1].ay/reg_port_b_6" BEL "aychips[1].ay/reg_port_b_5" BEL
        "aychips[1].ay/reg_port_b_4" BEL "aychips[1].ay/reg_port_b_3" BEL
        "aychips[1].ay/reg_port_b_2" BEL "aychips[1].ay/reg_port_b_1" BEL
        "aychips[1].ay/reg_port_b_0" BEL "aychips[1].ay/reg_port_a_7" BEL
        "aychips[1].ay/reg_port_a_6" BEL "aychips[1].ay/reg_port_a_5" BEL
        "aychips[1].ay/reg_port_a_4" BEL "aychips[1].ay/reg_port_a_3" BEL
        "aychips[1].ay/reg_port_a_2" BEL "aychips[1].ay/reg_port_a_1" BEL
        "aychips[1].ay/reg_port_a_0" BEL "aychips[1].ay/regaddr_7" BEL
        "aychips[1].ay/regaddr_6" BEL "aychips[1].ay/regaddr_5" BEL
        "aychips[1].ay/regaddr_4" BEL "aychips[1].ay/regaddr_3" BEL
        "aychips[1].ay/regaddr_2" BEL "aychips[1].ay/regaddr_1" BEL
        "aychips[1].ay/regaddr_0" BEL "aychips[0].ay/envelope_period_15" BEL
        "aychips[0].ay/envelope_period_14" BEL
        "aychips[0].ay/envelope_period_13" BEL
        "aychips[0].ay/envelope_period_12" BEL
        "aychips[0].ay/envelope_period_11" BEL
        "aychips[0].ay/envelope_period_10" BEL
        "aychips[0].ay/envelope_period_9" BEL
        "aychips[0].ay/envelope_period_8" BEL
        "aychips[0].ay/envelope_period_7" BEL
        "aychips[0].ay/envelope_period_6" BEL
        "aychips[0].ay/envelope_period_5" BEL
        "aychips[0].ay/envelope_period_4" BEL
        "aychips[0].ay/envelope_period_3" BEL
        "aychips[0].ay/envelope_period_2" BEL
        "aychips[0].ay/envelope_period_1" BEL
        "aychips[0].ay/envelope_period_0" BEL "aychips[0].ay/period_c_11" BEL
        "aychips[0].ay/period_c_10" BEL "aychips[0].ay/period_c_9" BEL
        "aychips[0].ay/period_c_8" BEL "aychips[0].ay/period_c_7" BEL
        "aychips[0].ay/period_c_6" BEL "aychips[0].ay/period_c_5" BEL
        "aychips[0].ay/period_c_4" BEL "aychips[0].ay/period_c_3" BEL
        "aychips[0].ay/period_c_2" BEL "aychips[0].ay/period_c_1" BEL
        "aychips[0].ay/period_c_0" BEL "aychips[0].ay/period_b_11" BEL
        "aychips[0].ay/period_b_10" BEL "aychips[0].ay/period_b_9" BEL
        "aychips[0].ay/period_b_8" BEL "aychips[0].ay/period_b_7" BEL
        "aychips[0].ay/period_b_6" BEL "aychips[0].ay/period_b_5" BEL
        "aychips[0].ay/period_b_4" BEL "aychips[0].ay/period_b_3" BEL
        "aychips[0].ay/period_b_2" BEL "aychips[0].ay/period_b_1" BEL
        "aychips[0].ay/period_b_0" BEL "aychips[0].ay/period_a_11" BEL
        "aychips[0].ay/period_a_10" BEL "aychips[0].ay/period_a_9" BEL
        "aychips[0].ay/period_a_8" BEL "aychips[0].ay/period_a_7" BEL
        "aychips[0].ay/period_a_6" BEL "aychips[0].ay/period_a_5" BEL
        "aychips[0].ay/period_a_4" BEL "aychips[0].ay/period_a_3" BEL
        "aychips[0].ay/period_a_2" BEL "aychips[0].ay/period_a_1" BEL
        "aychips[0].ay/period_a_0" BEL "aychips[0].ay/amp_c_3" BEL
        "aychips[0].ay/amp_c_2" BEL "aychips[0].ay/amp_c_1" BEL
        "aychips[0].ay/amp_c_0" BEL "aychips[0].ay/envelope_shape_3" BEL
        "aychips[0].ay/envelope_shape_2" BEL "aychips[0].ay/envelope_shape_1"
        BEL "aychips[0].ay/envelope_shape_0" BEL "aychips[0].ay/amp_a_3" BEL
        "aychips[0].ay/amp_a_2" BEL "aychips[0].ay/amp_a_1" BEL
        "aychips[0].ay/amp_a_0" BEL "aychips[0].ay/ampmode_c" BEL
        "aychips[0].ay/amp_b_3" BEL "aychips[0].ay/amp_b_2" BEL
        "aychips[0].ay/amp_b_1" BEL "aychips[0].ay/amp_b_0" BEL
        "aychips[0].ay/ampmode_a" BEL "aychips[0].ay/noise_period_4" BEL
        "aychips[0].ay/noise_period_3" BEL "aychips[0].ay/noise_period_2" BEL
        "aychips[0].ay/noise_period_1" BEL "aychips[0].ay/noise_period_0" BEL
        "aychips[0].ay/ampmode_b" BEL "aychips[0].ay/enable_chan_7" BEL
        "aychips[0].ay/enable_chan_6" BEL "aychips[0].ay/enable_chan_5" BEL
        "aychips[0].ay/enable_chan_4" BEL "aychips[0].ay/enable_chan_3" BEL
        "aychips[0].ay/enable_chan_2" BEL "aychips[0].ay/enable_chan_1" BEL
        "aychips[0].ay/enable_chan_0" BEL "aychips[0].ay/reg_port_b_7" BEL
        "aychips[0].ay/reg_port_b_6" BEL "aychips[0].ay/reg_port_b_5" BEL
        "aychips[0].ay/reg_port_b_4" BEL "aychips[0].ay/reg_port_b_3" BEL
        "aychips[0].ay/reg_port_b_2" BEL "aychips[0].ay/reg_port_b_1" BEL
        "aychips[0].ay/reg_port_b_0" BEL "aychips[0].ay/reg_port_a_7" BEL
        "aychips[0].ay/reg_port_a_6" BEL "aychips[0].ay/reg_port_a_5" BEL
        "aychips[0].ay/reg_port_a_4" BEL "aychips[0].ay/reg_port_a_3" BEL
        "aychips[0].ay/reg_port_a_2" BEL "aychips[0].ay/reg_port_a_1" BEL
        "aychips[0].ay/reg_port_a_0" BEL "aychips[0].ay/regaddr_7" BEL
        "aychips[0].ay/regaddr_6" BEL "aychips[0].ay/regaddr_5" BEL
        "aychips[0].ay/regaddr_4" BEL "aychips[0].ay/regaddr_3" BEL
        "aychips[0].ay/regaddr_2" BEL "aychips[0].ay/regaddr_1" BEL
        "aychips[0].ay/regaddr_0" BEL "cnt26_0" BEL "cnt26_1" BEL "cnt26_2"
        BEL "cnt26_3" BEL "cnt26_4" BEL "cnt26_5" BEL "cnt26_6" BEL "cnt26_7"
        BEL "cnt26_8" BEL "cnt26_9" BEL "cnt26_10" BEL "cnt26_11" BEL
        "cnt26_12" BEL "cnt26_13" BEL "cnt26_14" BEL "cnt26_15" BEL "cnt26_16"
        BEL "cnt26_17" BEL "cnt26_18" BEL "cnt26_19" BEL "cnt26_20" BEL
        "cnt26_21" BEL "cnt26_22" BEL "cnt26_23" BEL
        "dcm_final_inst/clkout1_buf" PIN "dcm_final_inst/dcm_sp_inst_pins<1>"
        BEL "line_cnt_0" BEL "line_cnt_1" BEL "line_cnt_2" BEL "line_cnt_3"
        BEL "line_cnt_4" BEL "line_cnt_5" BEL "line_cnt_6" BEL "line_cnt_7"
        BEL "line_cnt_8" BEL "line_cnt_1_1" BEL "line_cnt_0_1" BEL
        "line_cnt_1_2" BEL "aychips[1].ay/regaddr_2_1" BEL
        "aychips[1].ay/regaddr_3_1" BEL "aychips[0].ay/regaddr_1_1" BEL
        "aychips[0].ay/regaddr_0_1" BEL "aychips[0].ay/regaddr_2_1" BEL
        "aychips[0].ay/regaddr_0_2" BEL "aychips[0].ay/regaddr_3_1" BEL
        "aychips[1].ay/regaddr_1_1" BEL "aychips[0].ay/regaddr_1_2" BEL
        "aychips[1].ay/regaddr_0_1" BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/has_mux_a.A/sel_pipe_1"
        BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/has_mux_a.A/sel_pipe_2"
        BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/has_mux_b.B/sel_pipe_1"
        BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/has_mux_b.B/sel_pipe_2"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[31].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[31].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[30].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[30].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[29].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[29].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[28].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[28].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[27].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[27].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[26].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[26].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[25].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[25].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[24].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[24].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[23].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[23].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[22].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[22].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[21].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[21].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[20].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[20].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[19].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[19].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[18].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[18].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[17].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[17].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[16].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[16].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[15].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[15].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[14].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[14].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[13].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[13].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[12].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[12].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[11].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[11].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[10].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[10].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[9].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[9].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[8].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[8].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        BEL "dcm_final_inst/clkf_buf";
PIN dcm_final_inst/dcm_sp_inst_pins<2> = BEL "dcm_final_inst/dcm_sp_inst"
        PINNAME CLKIN;
TIMEGRP clk_intermediate_13mhz = PIN "dcm_final_inst/dcm_sp_inst_pins<2>" BEL
        "clk_intermediate_13mhz_BUFG";
TS_nCLOCK = PERIOD TIMEGRP "nCLOCK" 307.692 ns HIGH 50%;
TS_clk_intermediate_13mhz = PERIOD TIMEGRP "clk_intermediate_13mhz" TS_nCLOCK
        / 4 HIGH 50%;
TS_dcm_final_inst_clk2x = PERIOD TIMEGRP "dcm_final_inst_clk2x"
        TS_clk_intermediate_13mhz / 2 HIGH 50%;
SCHEMATIC END;

