//! **************************************************************************
// Written by: Map P.20131013 on Fri Oct 03 05:23:23 2025
//! **************************************************************************

SCHEMATIC START;
COMP "A0" LOCATE = SITE "P30" LEVEL 1;
COMP "A1" LOCATE = SITE "P33" LEVEL 1;
COMP "A2" LOCATE = SITE "P35" LEVEL 1;
COMP "B0" LOCATE = SITE "P116" LEVEL 1;
COMP "A3" LOCATE = SITE "P40" LEVEL 1;
COMP "B1" LOCATE = SITE "P117" LEVEL 1;
COMP "A4" LOCATE = SITE "P69" LEVEL 1;
COMP "B2" LOCATE = SITE "P118" LEVEL 1;
COMP "A5" LOCATE = SITE "P66" LEVEL 1;
COMP "B3" LOCATE = SITE "P119" LEVEL 1;
COMP "A6" LOCATE = SITE "P41" LEVEL 1;
COMP "D0" LOCATE = SITE "P23" LEVEL 1;
COMP "B4" LOCATE = SITE "P120" LEVEL 1;
COMP "A7" LOCATE = SITE "P62" LEVEL 1;
COMP "D1" LOCATE = SITE "P26" LEVEL 1;
COMP "B5" LOCATE = SITE "P121" LEVEL 1;
COMP "A8" LOCATE = SITE "P60" LEVEL 1;
COMP "D2" LOCATE = SITE "P27" LEVEL 1;
COMP "B6" LOCATE = SITE "P123" LEVEL 1;
COMP "A9" LOCATE = SITE "P59" LEVEL 1;
COMP "D3" LOCATE = SITE "P34" LEVEL 1;
COMP "B7" LOCATE = SITE "P124" LEVEL 1;
COMP "D4" LOCATE = SITE "P39" LEVEL 1;
COMP "D5" LOCATE = SITE "P32" LEVEL 1;
COMP "D6" LOCATE = SITE "P29" LEVEL 1;
COMP "D7" LOCATE = SITE "P21" LEVEL 1;
COMP "O0" LOCATE = SITE "P126" LEVEL 1;
COMP "O1" LOCATE = SITE "P127" LEVEL 1;
COMP "O2" LOCATE = SITE "P131" LEVEL 1;
COMP "O3" LOCATE = SITE "P132" LEVEL 1;
COMP "O4" LOCATE = SITE "P133" LEVEL 1;
COMP "O5" LOCATE = SITE "P134" LEVEL 1;
COMP "O6" LOCATE = SITE "P137" LEVEL 1;
COMP "O7" LOCATE = SITE "P138" LEVEL 1;
COMP "UP" LOCATE = SITE "P78" LEVEL 1;
COMP "A10" LOCATE = SITE "P57" LEVEL 1;
COMP "A11" LOCATE = SITE "P55" LEVEL 1;
COMP "A12" LOCATE = SITE "P50" LEVEL 1;
COMP "A13" LOCATE = SITE "P47" LEVEL 1;
COMP "A14" LOCATE = SITE "P45" LEVEL 1;
COMP "A15" LOCATE = SITE "P43" LEVEL 1;
COMP "A0x" LOCATE = SITE "P83" LEVEL 1;
COMP "A1x" LOCATE = SITE "P84" LEVEL 1;
COMP "A2x" LOCATE = SITE "P85" LEVEL 1;
COMP "A3x" LOCATE = SITE "P88" LEVEL 1;
COMP "A4x" LOCATE = SITE "P93" LEVEL 1;
COMP "A5x" LOCATE = SITE "P95" LEVEL 1;
COMP "A6x" LOCATE = SITE "P99" LEVEL 1;
COMP "A7x" LOCATE = SITE "P101" LEVEL 1;
COMP "A8x" LOCATE = SITE "P98" LEVEL 1;
COMP "A9x" LOCATE = SITE "P97" LEVEL 1;
COMP "nM1" LOCATE = SITE "P67" LEVEL 1;
COMP "nRD" LOCATE = SITE "P105" LEVEL 1;
COMP "nWR" LOCATE = SITE "P58" LEVEL 1;
COMP "A10x" LOCATE = SITE "P87" LEVEL 1;
COMP "A11x" LOCATE = SITE "P94" LEVEL 1;
COMP "A12x" LOCATE = SITE "P104" LEVEL 1;
COMP "A13x" LOCATE = SITE "P100" LEVEL 1;
COMP "A14x" LOCATE = SITE "P111" LEVEL 1;
COMP "A15x" LOCATE = SITE "P112" LEVEL 1;
COMP "A16x" LOCATE = SITE "P114" LEVEL 1;
COMP "A17x" LOCATE = SITE "P61" LEVEL 1;
COMP "A18x" LOCATE = SITE "P115" LEVEL 1;
COMP "GET_DATA_REG" LOCATE = SITE "P2" LEVEL 1;
COMP "FIRE" LOCATE = SITE "P82" LEVEL 1;
COMP "LEFT" LOCATE = SITE "P80" LEVEL 1;
COMP "DOWN" LOCATE = SITE "P79" LEVEL 1;
COMP "VRED" LOCATE = SITE "P7" LEVEL 1;
COMP "nWRx" LOCATE = SITE "P102" LEVEL 1;
COMP "nMEM_OE" LOCATE = SITE "P92" LEVEL 1;
COMP "GET_CTRL_REG" LOCATE = SITE "P5" LEVEL 1;
COMP "CSYNC" LOCATE = SITE "P10" LEVEL 1;
COMP "RIGHT" LOCATE = SITE "P81" LEVEL 1;
COMP "VBLUE" LOCATE = SITE "P9" LEVEL 1;
COMP "nHALT" LOCATE = SITE "P46" LEVEL 1;
COMP "nIORQ" LOCATE = SITE "P51" LEVEL 1;
COMP "nMREQ" LOCATE = SITE "P48" LEVEL 1;
COMP "nRFSH" LOCATE = SITE "P74" LEVEL 1;
COMP "test1" LOCATE = SITE "P22" LEVEL 1;
COMP "test2" LOCATE = SITE "P56" LEVEL 1;
COMP "nMEM_OEm" LOCATE = SITE "P142" LEVEL 1;
COMP "BRIGHT" LOCATE = SITE "P11" LEVEL 1;
COMP "VGREEN" LOCATE = SITE "P8" LEVEL 1;
COMP "FULL_PAGING" LOCATE = SITE "P143" LEVEL 1;
COMP "DEBUG_RDY" LOCATE = SITE "P14" LEVEL 1;
COMP "nCLOCK" LOCATE = SITE "P24" LEVEL 1;
COMP "nRESET" LOCATE = SITE "P139" LEVEL 1;
PIN nRESET_pin<0> = BEL "nRESET" PINNAME PAD;
PIN "nRESET_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "nOE_OL" LOCATE = SITE "P12" LEVEL 1;
COMP "CFG_RESET" LOCATE = SITE "P16" LEVEL 1;
COMP "SEL_128CHARS" LOCATE = SITE "P141" LEVEL 1;
COMP "CFG_DATA" LOCATE = SITE "P15" LEVEL 1;
COMP "test_NMI" LOCATE = SITE "P44" LEVEL 1;
COMP "nRST_DATA_REG" LOCATE = SITE "P144" LEVEL 1;
COMP "CFG_CLK" LOCATE = SITE "P17" LEVEL 1;
COMP "CTRL_CLK" LOCATE = SITE "P6" LEVEL 1;
COMP "nRST_CTRL_REG" LOCATE = SITE "P1" LEVEL 1;
PIN SP6_BUFIO_INSERT_ML_BUFIO2_0_pins<0> = BEL "SP6_BUFIO_INSERT_ML_BUFIO2_0"
        PINNAME DIVCLK;
PIN dcm_booster_inst_pins<2> = BEL "dcm_booster_inst" PINNAME CLKIN;
TIMEGRP nCLOCK = BEL "debug_rdy_delayed_0" BEL "debug_rdy_delayed_1" BEL
        "debug_rdy_delayed_2" BEL "debug_rdy_delayed_3" BEL
        "debug_rdy_delayed_4" BEL "debug_rdy_delayed_5" BEL
        "debug_rdy_delayed_6" BEL "debug_rdy_delayed_7" BEL "FRAMES_0" BEL
        "FRAMES_1" BEL "FRAMES_2" BEL "FRAMES_3" BEL "FRAMES_4" BEL "FRAMES_5"
        BEL "FRAMES_6" BEL "FRAMES_7" BEL "FRAMES_8" BEL "FRAMES_9" BEL
        "FRAMES_10" BEL "FRAMES_11" BEL "FRAMES_12" BEL "FRAMES_13" BEL
        "FRAMES_14" BEL "FRAMES_15" BEL "DFILE_0" BEL "DFILE_1" BEL "DFILE_2"
        BEL "DFILE_3" BEL "DFILE_4" BEL "DFILE_5" BEL "DFILE_6" BEL "DFILE_7"
        BEL "DFILE_8" BEL "DFILE_9" BEL "DFILE_10" BEL "DFILE_11" BEL
        "DFILE_12" BEL "DFILE_13" BEL "DFILE_14" BEL "DFILE_15" BEL
        "debug_data_0" BEL "debug_data_1" BEL "debug_data_2" BEL
        "debug_data_3" BEL "debug_data_4" BEL "debug_data_5" BEL
        "debug_data_6" BEL "debug_data_7" BEL "old_vsync2" BEL
        "nCLOCK_IBUFG_BUFG" PIN "SP6_BUFIO_INSERT_ML_BUFIO2_0_pins<0>" PIN
        "dcm_booster_inst_pins<2>";
PIN dcm_final_inst/dcm_sp_inst_pins<1> = BEL "dcm_final_inst/dcm_sp_inst"
        PINNAME CLKFB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[31].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[31].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[31].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[31].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[30].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[30].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[30].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[30].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[29].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[29].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[29].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[29].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[28].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[28].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[28].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[28].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[27].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[27].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[27].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[27].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[26].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[26].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[26].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[26].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[25].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[25].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[25].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[25].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[24].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[24].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[24].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[24].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[23].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[23].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[23].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[23].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[22].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[22].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[22].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[22].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[21].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[21].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[21].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[21].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[20].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[20].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[20].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[20].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[19].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[19].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[19].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[19].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[18].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[18].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[18].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[18].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[17].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[17].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[17].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[17].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[16].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[16].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[16].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[16].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[15].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[15].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[15].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[15].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[14].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[14].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[14].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[14].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[13].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[13].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[13].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[13].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[12].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[12].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[12].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[12].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[11].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[11].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[11].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[11].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[10].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[10].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[10].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[10].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[9].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[9].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[9].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[9].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[8].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[8].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[8].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[8].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
TIMEGRP dcm_final_inst_clk2x = BEL "old_vsync" BEL "char_latch_0" BEL
        "char_latch_1" BEL "char_latch_2" BEL "char_latch_3" BEL
        "char_latch_4" BEL "char_latch_5" BEL "char_latch_6" BEL
        "char_latch_7" BEL "attr_latch_0" BEL "attr_latch_1" BEL
        "attr_latch_2" BEL "attr_latch_3" BEL "attr_latch_4" BEL
        "attr_latch_5" BEL "attr_latch_6" BEL "attr_latch_7" BEL
        "aychips[1].ay/channel_b_12" BEL "aychips[1].ay/channel_b_11" BEL
        "aychips[1].ay/channel_b_10" BEL "aychips[1].ay/channel_b_9" BEL
        "aychips[1].ay/channel_b_8" BEL "aychips[1].ay/channel_b_7" BEL
        "aychips[1].ay/channel_b_6" BEL "aychips[1].ay/channel_b_5" BEL
        "aychips[1].ay/channel_b_4" BEL "aychips[1].ay/channel_b_3" BEL
        "aychips[1].ay/channel_a_12" BEL "aychips[1].ay/channel_a_11" BEL
        "aychips[1].ay/channel_a_10" BEL "aychips[1].ay/channel_a_9" BEL
        "aychips[1].ay/channel_a_8" BEL "aychips[1].ay/channel_a_7" BEL
        "aychips[1].ay/channel_a_6" BEL "aychips[1].ay/channel_a_5" BEL
        "aychips[1].ay/channel_a_4" BEL "aychips[1].ay/channel_a_3" BEL
        "aychips[1].ay/linear_chan_a_4" BEL "aychips[1].ay/linear_chan_a_3"
        BEL "aychips[1].ay/linear_chan_a_2" BEL
        "aychips[1].ay/linear_chan_a_1" BEL "aychips[1].ay/linear_chan_a_0"
        BEL "aychips[1].ay/linear_chan_b_4" BEL
        "aychips[1].ay/linear_chan_b_3" BEL "aychips[1].ay/linear_chan_b_2"
        BEL "aychips[1].ay/linear_chan_b_1" BEL
        "aychips[1].ay/linear_chan_b_0" BEL
        "aychips[1].ay/counter_envelope_15" BEL
        "aychips[1].ay/counter_envelope_14" BEL
        "aychips[1].ay/counter_envelope_13" BEL
        "aychips[1].ay/counter_envelope_12" BEL
        "aychips[1].ay/counter_envelope_11" BEL
        "aychips[1].ay/counter_envelope_10" BEL
        "aychips[1].ay/counter_envelope_9" BEL
        "aychips[1].ay/counter_envelope_8" BEL
        "aychips[1].ay/counter_envelope_7" BEL
        "aychips[1].ay/counter_envelope_6" BEL
        "aychips[1].ay/counter_envelope_5" BEL
        "aychips[1].ay/counter_envelope_4" BEL
        "aychips[1].ay/counter_envelope_3" BEL
        "aychips[1].ay/counter_envelope_2" BEL
        "aychips[1].ay/counter_envelope_1" BEL
        "aychips[1].ay/counter_envelope_0" BEL "aychips[1].ay/counter_noise_4"
        BEL "aychips[1].ay/counter_noise_3" BEL
        "aychips[1].ay/counter_noise_2" BEL "aychips[1].ay/counter_noise_1"
        BEL "aychips[1].ay/counter_noise_0" BEL
        "aychips[1].ay/counter_tone_b_11" BEL
        "aychips[1].ay/counter_tone_b_10" BEL "aychips[1].ay/counter_tone_b_9"
        BEL "aychips[1].ay/counter_tone_b_8" BEL
        "aychips[1].ay/counter_tone_b_7" BEL "aychips[1].ay/counter_tone_b_6"
        BEL "aychips[1].ay/counter_tone_b_5" BEL
        "aychips[1].ay/counter_tone_b_4" BEL "aychips[1].ay/counter_tone_b_3"
        BEL "aychips[1].ay/counter_tone_b_2" BEL
        "aychips[1].ay/counter_tone_b_1" BEL "aychips[1].ay/counter_tone_b_0"
        BEL "aychips[1].ay/counter_tone_a_11" BEL
        "aychips[1].ay/counter_tone_a_10" BEL "aychips[1].ay/counter_tone_a_9"
        BEL "aychips[1].ay/counter_tone_a_8" BEL
        "aychips[1].ay/counter_tone_a_7" BEL "aychips[1].ay/counter_tone_a_6"
        BEL "aychips[1].ay/counter_tone_a_5" BEL
        "aychips[1].ay/counter_tone_a_4" BEL "aychips[1].ay/counter_tone_a_3"
        BEL "aychips[1].ay/counter_tone_a_2" BEL
        "aychips[1].ay/counter_tone_a_1" BEL "aychips[1].ay/counter_tone_a_0"
        BEL "aychips[1].ay/envelope_period_15" BEL
        "aychips[1].ay/envelope_period_14" BEL
        "aychips[1].ay/envelope_period_13" BEL
        "aychips[1].ay/envelope_period_12" BEL
        "aychips[1].ay/envelope_period_11" BEL
        "aychips[1].ay/envelope_period_10" BEL
        "aychips[1].ay/envelope_period_9" BEL
        "aychips[1].ay/envelope_period_8" BEL
        "aychips[1].ay/envelope_period_7" BEL
        "aychips[1].ay/envelope_period_6" BEL
        "aychips[1].ay/envelope_period_5" BEL
        "aychips[1].ay/envelope_period_4" BEL
        "aychips[1].ay/envelope_period_3" BEL
        "aychips[1].ay/envelope_period_2" BEL
        "aychips[1].ay/envelope_period_1" BEL
        "aychips[1].ay/envelope_period_0" BEL "aychips[1].ay/period_c_11" BEL
        "aychips[1].ay/period_c_10" BEL "aychips[1].ay/period_c_9" BEL
        "aychips[1].ay/period_c_8" BEL "aychips[1].ay/period_c_7" BEL
        "aychips[1].ay/period_c_6" BEL "aychips[1].ay/period_c_5" BEL
        "aychips[1].ay/period_c_4" BEL "aychips[1].ay/period_c_3" BEL
        "aychips[1].ay/period_c_2" BEL "aychips[1].ay/period_c_1" BEL
        "aychips[1].ay/period_c_0" BEL "aychips[1].ay/period_b_11" BEL
        "aychips[1].ay/period_b_10" BEL "aychips[1].ay/period_b_9" BEL
        "aychips[1].ay/period_b_8" BEL "aychips[1].ay/period_b_7" BEL
        "aychips[1].ay/period_b_6" BEL "aychips[1].ay/period_b_5" BEL
        "aychips[1].ay/period_b_4" BEL "aychips[1].ay/period_b_3" BEL
        "aychips[1].ay/period_b_2" BEL "aychips[1].ay/period_b_1" BEL
        "aychips[1].ay/period_b_0" BEL "aychips[1].ay/period_a_11" BEL
        "aychips[1].ay/period_a_10" BEL "aychips[1].ay/period_a_9" BEL
        "aychips[1].ay/period_a_8" BEL "aychips[1].ay/period_a_7" BEL
        "aychips[1].ay/period_a_6" BEL "aychips[1].ay/period_a_5" BEL
        "aychips[1].ay/period_a_4" BEL "aychips[1].ay/period_a_3" BEL
        "aychips[1].ay/period_a_2" BEL "aychips[1].ay/period_a_1" BEL
        "aychips[1].ay/period_a_0" BEL "aychips[1].ay/noise_shiftreg_16" BEL
        "aychips[1].ay/noise_shiftreg_15" BEL
        "aychips[1].ay/noise_shiftreg_14" BEL
        "aychips[1].ay/noise_shiftreg_13" BEL
        "aychips[1].ay/noise_shiftreg_12" BEL
        "aychips[1].ay/noise_shiftreg_11" BEL
        "aychips[1].ay/noise_shiftreg_10" BEL "aychips[1].ay/noise_shiftreg_9"
        BEL "aychips[1].ay/noise_shiftreg_8" BEL
        "aychips[1].ay/noise_shiftreg_7" BEL "aychips[1].ay/noise_shiftreg_6"
        BEL "aychips[1].ay/noise_shiftreg_5" BEL
        "aychips[1].ay/noise_shiftreg_4" BEL "aychips[1].ay/noise_shiftreg_3"
        BEL "aychips[1].ay/noise_shiftreg_2" BEL
        "aychips[1].ay/noise_shiftreg_1" BEL "aychips[1].ay/noise_shiftreg_0"
        BEL "aychips[1].ay/divprescaler_15" BEL
        "aychips[1].ay/divprescaler_14" BEL "aychips[1].ay/divprescaler_13"
        BEL "aychips[1].ay/divprescaler_12" BEL
        "aychips[1].ay/divprescaler_11" BEL "aychips[1].ay/divprescaler_10"
        BEL "aychips[1].ay/divprescaler_9" BEL "aychips[1].ay/divprescaler_8"
        BEL "aychips[1].ay/divprescaler_7" BEL "aychips[1].ay/divprescaler_6"
        BEL "aychips[1].ay/divprescaler_5" BEL "aychips[1].ay/divprescaler_4"
        BEL "aychips[1].ay/divprescaler_3" BEL "aychips[1].ay/divprescaler_2"
        BEL "aychips[1].ay/divprescaler_1" BEL "aychips[1].ay/divprescaler_0"
        BEL "aychips[1].ay/amp_c_3" BEL "aychips[1].ay/amp_c_2" BEL
        "aychips[1].ay/amp_c_1" BEL "aychips[1].ay/amp_c_0" BEL
        "aychips[1].ay/envelope_shape_3" BEL "aychips[1].ay/envelope_shape_2"
        BEL "aychips[1].ay/envelope_shape_1" BEL
        "aychips[1].ay/envelope_shape_0" BEL "aychips[1].ay/amp_a_3" BEL
        "aychips[1].ay/amp_a_2" BEL "aychips[1].ay/amp_a_1" BEL
        "aychips[1].ay/amp_a_0" BEL "aychips[1].ay/ampmode_c" BEL
        "aychips[1].ay/amp_b_3" BEL "aychips[1].ay/amp_b_2" BEL
        "aychips[1].ay/amp_b_1" BEL "aychips[1].ay/amp_b_0" BEL
        "aychips[1].ay/ampmode_a" BEL "aychips[1].ay/noise_period_4" BEL
        "aychips[1].ay/noise_period_3" BEL "aychips[1].ay/noise_period_2" BEL
        "aychips[1].ay/noise_period_1" BEL "aychips[1].ay/noise_period_0" BEL
        "aychips[1].ay/ampmode_b" BEL "aychips[1].ay/enable_chan_7" BEL
        "aychips[1].ay/enable_chan_6" BEL "aychips[1].ay/enable_chan_5" BEL
        "aychips[1].ay/enable_chan_4" BEL "aychips[1].ay/enable_chan_3" BEL
        "aychips[1].ay/enable_chan_2" BEL "aychips[1].ay/enable_chan_1" BEL
        "aychips[1].ay/enable_chan_0" BEL "aychips[1].ay/reg_port_b_7" BEL
        "aychips[1].ay/reg_port_b_6" BEL "aychips[1].ay/reg_port_b_5" BEL
        "aychips[1].ay/reg_port_b_4" BEL "aychips[1].ay/reg_port_b_3" BEL
        "aychips[1].ay/reg_port_b_2" BEL "aychips[1].ay/reg_port_b_1" BEL
        "aychips[1].ay/reg_port_b_0" BEL "aychips[1].ay/reg_port_a_7" BEL
        "aychips[1].ay/reg_port_a_6" BEL "aychips[1].ay/reg_port_a_5" BEL
        "aychips[1].ay/reg_port_a_4" BEL "aychips[1].ay/reg_port_a_3" BEL
        "aychips[1].ay/reg_port_a_2" BEL "aychips[1].ay/reg_port_a_1" BEL
        "aychips[1].ay/reg_port_a_0" BEL "aychips[1].ay/regaddr_3" BEL
        "aychips[1].ay/regaddr_2" BEL "aychips[1].ay/regaddr_1" BEL
        "aychips[1].ay/regaddr_0" BEL "aychips[0].ay/channel_c_12" BEL
        "aychips[0].ay/channel_c_11" BEL "aychips[0].ay/channel_c_10" BEL
        "aychips[0].ay/channel_c_9" BEL "aychips[0].ay/channel_c_8" BEL
        "aychips[0].ay/channel_c_7" BEL "aychips[0].ay/channel_c_6" BEL
        "aychips[0].ay/channel_c_5" BEL "aychips[0].ay/channel_c_4" BEL
        "aychips[0].ay/channel_b_12" BEL "aychips[0].ay/channel_b_11" BEL
        "aychips[0].ay/channel_b_10" BEL "aychips[0].ay/channel_b_9" BEL
        "aychips[0].ay/channel_b_8" BEL "aychips[0].ay/channel_b_7" BEL
        "aychips[0].ay/channel_b_6" BEL "aychips[0].ay/channel_b_5" BEL
        "aychips[0].ay/channel_b_4" BEL "aychips[0].ay/channel_b_3" BEL
        "aychips[0].ay/channel_a_12" BEL "aychips[0].ay/channel_a_11" BEL
        "aychips[0].ay/channel_a_10" BEL "aychips[0].ay/channel_a_9" BEL
        "aychips[0].ay/channel_a_8" BEL "aychips[0].ay/channel_a_7" BEL
        "aychips[0].ay/channel_a_6" BEL "aychips[0].ay/channel_a_5" BEL
        "aychips[0].ay/channel_a_4" BEL "aychips[0].ay/channel_a_3" BEL
        "aychips[0].ay/linear_chan_c_4" BEL "aychips[0].ay/linear_chan_a_4"
        BEL "aychips[0].ay/linear_chan_a_3" BEL
        "aychips[0].ay/linear_chan_a_2" BEL "aychips[0].ay/linear_chan_a_1"
        BEL "aychips[0].ay/linear_chan_a_0" BEL
        "aychips[0].ay/linear_chan_b_4" BEL "aychips[0].ay/linear_chan_b_3"
        BEL "aychips[0].ay/linear_chan_b_2" BEL
        "aychips[0].ay/linear_chan_b_1" BEL "aychips[0].ay/linear_chan_b_0"
        BEL "aychips[0].ay/counter_envelope_15" BEL
        "aychips[0].ay/counter_envelope_14" BEL
        "aychips[0].ay/counter_envelope_13" BEL
        "aychips[0].ay/counter_envelope_12" BEL
        "aychips[0].ay/counter_envelope_11" BEL
        "aychips[0].ay/counter_envelope_10" BEL
        "aychips[0].ay/counter_envelope_9" BEL
        "aychips[0].ay/counter_envelope_8" BEL
        "aychips[0].ay/counter_envelope_7" BEL
        "aychips[0].ay/counter_envelope_6" BEL
        "aychips[0].ay/counter_envelope_5" BEL
        "aychips[0].ay/counter_envelope_4" BEL
        "aychips[0].ay/counter_envelope_3" BEL
        "aychips[0].ay/counter_envelope_2" BEL
        "aychips[0].ay/counter_envelope_1" BEL
        "aychips[0].ay/counter_envelope_0" BEL "aychips[0].ay/counter_noise_4"
        BEL "aychips[0].ay/counter_noise_3" BEL
        "aychips[0].ay/counter_noise_2" BEL "aychips[0].ay/counter_noise_1"
        BEL "aychips[0].ay/counter_noise_0" BEL
        "aychips[0].ay/counter_tone_b_11" BEL
        "aychips[0].ay/counter_tone_b_10" BEL "aychips[0].ay/counter_tone_b_9"
        BEL "aychips[0].ay/counter_tone_b_8" BEL
        "aychips[0].ay/counter_tone_b_7" BEL "aychips[0].ay/counter_tone_b_6"
        BEL "aychips[0].ay/counter_tone_b_5" BEL
        "aychips[0].ay/counter_tone_b_4" BEL "aychips[0].ay/counter_tone_b_3"
        BEL "aychips[0].ay/counter_tone_b_2" BEL
        "aychips[0].ay/counter_tone_b_1" BEL "aychips[0].ay/counter_tone_b_0"
        BEL "aychips[0].ay/counter_tone_a_11" BEL
        "aychips[0].ay/counter_tone_a_10" BEL "aychips[0].ay/counter_tone_a_9"
        BEL "aychips[0].ay/counter_tone_a_8" BEL
        "aychips[0].ay/counter_tone_a_7" BEL "aychips[0].ay/counter_tone_a_6"
        BEL "aychips[0].ay/counter_tone_a_5" BEL
        "aychips[0].ay/counter_tone_a_4" BEL "aychips[0].ay/counter_tone_a_3"
        BEL "aychips[0].ay/counter_tone_a_2" BEL
        "aychips[0].ay/counter_tone_a_1" BEL "aychips[0].ay/counter_tone_a_0"
        BEL "aychips[0].ay/counter_tone_c_11" BEL
        "aychips[0].ay/counter_tone_c_10" BEL "aychips[0].ay/counter_tone_c_9"
        BEL "aychips[0].ay/counter_tone_c_8" BEL
        "aychips[0].ay/counter_tone_c_7" BEL "aychips[0].ay/counter_tone_c_6"
        BEL "aychips[0].ay/counter_tone_c_5" BEL
        "aychips[0].ay/counter_tone_c_4" BEL "aychips[0].ay/counter_tone_c_3"
        BEL "aychips[0].ay/counter_tone_c_2" BEL
        "aychips[0].ay/counter_tone_c_1" BEL "aychips[0].ay/counter_tone_c_0"
        BEL "aychips[0].ay/envelope_period_15" BEL
        "aychips[0].ay/envelope_period_14" BEL
        "aychips[0].ay/envelope_period_13" BEL
        "aychips[0].ay/envelope_period_12" BEL
        "aychips[0].ay/envelope_period_11" BEL
        "aychips[0].ay/envelope_period_10" BEL
        "aychips[0].ay/envelope_period_9" BEL
        "aychips[0].ay/envelope_period_8" BEL
        "aychips[0].ay/envelope_period_7" BEL
        "aychips[0].ay/envelope_period_6" BEL
        "aychips[0].ay/envelope_period_5" BEL
        "aychips[0].ay/envelope_period_4" BEL
        "aychips[0].ay/envelope_period_3" BEL
        "aychips[0].ay/envelope_period_2" BEL
        "aychips[0].ay/envelope_period_1" BEL
        "aychips[0].ay/envelope_period_0" BEL "aychips[0].ay/period_c_11" BEL
        "aychips[0].ay/period_c_10" BEL "aychips[0].ay/period_c_9" BEL
        "aychips[0].ay/period_c_8" BEL "aychips[0].ay/period_c_7" BEL
        "aychips[0].ay/period_c_6" BEL "aychips[0].ay/period_c_5" BEL
        "aychips[0].ay/period_c_4" BEL "aychips[0].ay/period_c_3" BEL
        "aychips[0].ay/period_c_2" BEL "aychips[0].ay/period_c_1" BEL
        "aychips[0].ay/period_c_0" BEL "aychips[0].ay/period_b_11" BEL
        "aychips[0].ay/period_b_10" BEL "aychips[0].ay/period_b_9" BEL
        "aychips[0].ay/period_b_8" BEL "aychips[0].ay/period_b_7" BEL
        "aychips[0].ay/period_b_6" BEL "aychips[0].ay/period_b_5" BEL
        "aychips[0].ay/period_b_4" BEL "aychips[0].ay/period_b_3" BEL
        "aychips[0].ay/period_b_2" BEL "aychips[0].ay/period_b_1" BEL
        "aychips[0].ay/period_b_0" BEL "aychips[0].ay/period_a_11" BEL
        "aychips[0].ay/period_a_10" BEL "aychips[0].ay/period_a_9" BEL
        "aychips[0].ay/period_a_8" BEL "aychips[0].ay/period_a_7" BEL
        "aychips[0].ay/period_a_6" BEL "aychips[0].ay/period_a_5" BEL
        "aychips[0].ay/period_a_4" BEL "aychips[0].ay/period_a_3" BEL
        "aychips[0].ay/period_a_2" BEL "aychips[0].ay/period_a_1" BEL
        "aychips[0].ay/period_a_0" BEL "aychips[0].ay/noise_shiftreg_16" BEL
        "aychips[0].ay/noise_shiftreg_15" BEL
        "aychips[0].ay/noise_shiftreg_14" BEL
        "aychips[0].ay/noise_shiftreg_13" BEL
        "aychips[0].ay/noise_shiftreg_12" BEL
        "aychips[0].ay/noise_shiftreg_11" BEL
        "aychips[0].ay/noise_shiftreg_10" BEL "aychips[0].ay/noise_shiftreg_9"
        BEL "aychips[0].ay/noise_shiftreg_8" BEL
        "aychips[0].ay/noise_shiftreg_7" BEL "aychips[0].ay/noise_shiftreg_6"
        BEL "aychips[0].ay/noise_shiftreg_5" BEL
        "aychips[0].ay/noise_shiftreg_4" BEL "aychips[0].ay/noise_shiftreg_3"
        BEL "aychips[0].ay/noise_shiftreg_2" BEL
        "aychips[0].ay/noise_shiftreg_1" BEL "aychips[0].ay/noise_shiftreg_0"
        BEL "aychips[0].ay/amp_c_3" BEL "aychips[0].ay/amp_c_2" BEL
        "aychips[0].ay/amp_c_1" BEL "aychips[0].ay/amp_c_0" BEL
        "aychips[0].ay/envelope_shape_3" BEL "aychips[0].ay/envelope_shape_2"
        BEL "aychips[0].ay/envelope_shape_1" BEL
        "aychips[0].ay/envelope_shape_0" BEL "aychips[0].ay/amp_a_3" BEL
        "aychips[0].ay/amp_a_2" BEL "aychips[0].ay/amp_a_1" BEL
        "aychips[0].ay/amp_a_0" BEL "aychips[0].ay/ampmode_c" BEL
        "aychips[0].ay/amp_b_3" BEL "aychips[0].ay/amp_b_2" BEL
        "aychips[0].ay/amp_b_1" BEL "aychips[0].ay/amp_b_0" BEL
        "aychips[0].ay/ampmode_a" BEL "aychips[0].ay/noise_period_4" BEL
        "aychips[0].ay/noise_period_3" BEL "aychips[0].ay/noise_period_2" BEL
        "aychips[0].ay/noise_period_1" BEL "aychips[0].ay/noise_period_0" BEL
        "aychips[0].ay/ampmode_b" BEL "aychips[0].ay/enable_chan_7" BEL
        "aychips[0].ay/enable_chan_6" BEL "aychips[0].ay/enable_chan_5" BEL
        "aychips[0].ay/enable_chan_4" BEL "aychips[0].ay/enable_chan_3" BEL
        "aychips[0].ay/enable_chan_2" BEL "aychips[0].ay/enable_chan_1" BEL
        "aychips[0].ay/enable_chan_0" BEL "aychips[0].ay/reg_port_b_7" BEL
        "aychips[0].ay/reg_port_b_6" BEL "aychips[0].ay/reg_port_b_5" BEL
        "aychips[0].ay/reg_port_b_4" BEL "aychips[0].ay/reg_port_b_3" BEL
        "aychips[0].ay/reg_port_b_2" BEL "aychips[0].ay/reg_port_b_1" BEL
        "aychips[0].ay/reg_port_b_0" BEL "aychips[0].ay/reg_port_a_7" BEL
        "aychips[0].ay/reg_port_a_6" BEL "aychips[0].ay/reg_port_a_5" BEL
        "aychips[0].ay/reg_port_a_4" BEL "aychips[0].ay/reg_port_a_3" BEL
        "aychips[0].ay/reg_port_a_2" BEL "aychips[0].ay/reg_port_a_1" BEL
        "aychips[0].ay/reg_port_a_0" BEL "aychips[0].ay/regaddr_3" BEL
        "aychips[0].ay/regaddr_2" BEL "aychips[0].ay/regaddr_1" BEL
        "aychips[0].ay/regaddr_0" BEL "cnt26_0" BEL "cnt26_1" BEL "cnt26_2"
        BEL "cnt26_3" BEL "line_cnt_0" BEL "line_cnt_1" BEL "line_cnt_2" BEL
        "line_cnt_3" BEL "line_cnt_4" BEL "line_cnt_5" BEL "line_cnt_6" BEL
        "line_cnt_7" BEL "line_cnt_8" BEL "dcm_final_inst/clkout1_buf" PIN
        "dcm_final_inst/dcm_sp_inst_pins<1>" BEL "DAC/div_cnt_1" BEL
        "DAC/div_cnt_0" BEL "DAC/right_reg_14" BEL "DAC/right_reg_13" BEL
        "DAC/right_reg_12" BEL "DAC/right_reg_11" BEL "DAC/right_reg_10" BEL
        "DAC/right_reg_9" BEL "DAC/right_reg_8" BEL "DAC/right_reg_7" BEL
        "DAC/right_reg_6" BEL "DAC/right_reg_5" BEL "DAC/right_reg_4" BEL
        "DAC/right_reg_3" BEL "DAC/right_reg_0" BEL "DAC/left_reg_14" BEL
        "DAC/left_reg_13" BEL "DAC/left_reg_12" BEL "DAC/left_reg_11" BEL
        "DAC/left_reg_10" BEL "DAC/left_reg_9" BEL "DAC/left_reg_8" BEL
        "DAC/left_reg_7" BEL "DAC/left_reg_6" BEL "DAC/left_reg_5" BEL
        "DAC/left_reg_4" BEL "DAC/left_reg_3" BEL "DAC/left_reg_0" BEL
        "DAC/bclk" BEL "forced_NOP_cycle" BEL "old_hsync" BEL "Result<0>_FRB"
        BEL "Result<1>_FRB" BEL "Result<2>_FRB" BEL "Result<3>_FRB" BEL
        "aychips[0].ay/rst_n_reset_envelope_OR_140_o21_FRB" BEL
        "aychips[1].ay/rst_n_reset_envelope_OR_140_o21_FRB" BEL
        "aychips[0].ay/rst_n_reset_envelope_OR_140_o_SW0_FRB" BEL
        "aychips[1].ay/rst_n_reset_envelope_OR_140_o_SW0_FRB" BEL
        "aychips[1].ay/tone_b_BRB0" BEL "aychips[1].ay/tone_b_BRB1" BEL
        "aychips[1].ay/tone_b_BRB2" BEL "aychips[1].ay/tone_b_BRB3" BEL
        "aychips[1].ay/tone_b_BRB4" BEL "aychips[1].ay/tone_a_BRB0" BEL
        "aychips[1].ay/tone_a_BRB4" BEL "aychips[0].ay/tone_c_BRB0" BEL
        "aychips[0].ay/tone_c_BRB4" BEL "aychips[0].ay/tone_b_BRB0" BEL
        "aychips[0].ay/tone_b_BRB4" BEL "aychips[0].ay/tone_a_BRB0" BEL
        "aychips[0].ay/tone_a_BRB4" BEL
        "aychips[1].ay/env_shape_first_period_BRB0" BEL
        "aychips[1].ay/env_shape_first_period_BRB1" BEL
        "aychips[1].ay/env_shape_first_period_BRB2" BEL
        "aychips[1].ay/env_shape_first_period_BRB3" BEL
        "aychips[1].ay/env_shape_first_period_BRB4" BEL
        "aychips[1].ay/env_shape_first_period_BRB5" BEL
        "aychips[0].ay/env_shape_first_period_BRB0" BEL
        "aychips[0].ay/env_shape_first_period_BRB1" BEL
        "aychips[0].ay/env_shape_first_period_BRB2" BEL
        "aychips[0].ay/env_shape_first_period_BRB3" BEL
        "aychips[0].ay/env_shape_first_period_BRB4" BEL
        "aychips[0].ay/env_shape_first_period_BRB5" BEL
        "aychips[1].ay/envelope_sample_seq_0_BRB0" BEL
        "aychips[1].ay/envelope_sample_seq_0_BRB1" BEL
        "aychips[1].ay/envelope_sample_seq_0_BRB2" BEL
        "aychips[1].ay/envelope_sample_seq_0_BRB3" BEL
        "aychips[1].ay/envelope_sample_seq_0_BRB4" BEL
        "aychips[1].ay/envelope_sample_seq_0_BRB5" BEL
        "aychips[1].ay/envelope_sample_seq_1_BRB0" BEL
        "aychips[1].ay/envelope_sample_seq_1_BRB4" BEL
        "aychips[1].ay/envelope_sample_seq_2_BRB0" BEL
        "aychips[1].ay/envelope_sample_seq_2_BRB4" BEL
        "aychips[0].ay/envelope_sample_seq_0_BRB0" BEL
        "aychips[0].ay/envelope_sample_seq_0_BRB1" BEL
        "aychips[0].ay/envelope_sample_seq_0_BRB3" BEL
        "aychips[0].ay/envelope_sample_seq_1_BRB0" BEL
        "aychips[0].ay/envelope_sample_seq_1_BRB4" BEL
        "aychips[0].ay/envelope_sample_seq_2_BRB0" BEL
        "aychips[0].ay/envelope_sample_seq_2_BRB4" BEL
        "aychips[1].ay/envelope_sample_seq_3_BRB0" BEL
        "aychips[1].ay/envelope_sample_seq_3_BRB4" BEL
        "aychips[0].ay/envelope_sample_seq_3_BRB0" BEL
        "aychips[0].ay/envelope_sample_seq_3_BRB4" BEL
        "aychips[1].ay/envelope_sample_seq_4_BRB0" BEL
        "aychips[1].ay/envelope_sample_seq_4_BRB4" BEL
        "aychips[0].ay/envelope_sample_seq_4_BRB0" BEL
        "aychips[0].ay/envelope_sample_seq_4_BRB4" BEL
        "aychips[0].ay/linear_chan_c_3_BRB0" BEL
        "aychips[0].ay/linear_chan_c_3_BRB1" BEL
        "aychips[0].ay/linear_chan_c_3_BRB2" BEL
        "aychips[0].ay/linear_chan_c_3_BRB3" BEL
        "aychips[0].ay/linear_chan_c_3_BRB4" BEL
        "aychips[0].ay/linear_chan_c_3_BRB5" BEL
        "aychips[0].ay/linear_chan_c_2_BRB3" BEL
        "aychips[0].ay/linear_chan_c_2_BRB5" BEL
        "aychips[0].ay/linear_chan_c_1_BRB3" BEL
        "aychips[0].ay/linear_chan_c_1_BRB5" BEL
        "aychips[0].ay/linear_chan_c_0_BRB3" BEL
        "aychips[0].ay/linear_chan_c_0_BRB5" BEL
        "aychips[1].ay/tone_noise_BRB0" BEL "aychips[1].ay/tone_noise_BRB3"
        BEL "aychips[1].ay/tone_noise_BRB4" BEL
        "aychips[1].ay/tone_noise_BRB5" BEL "aychips[0].ay/tone_noise_BRB0"
        BEL "aychips[0].ay/tone_noise_BRB3" BEL
        "aychips[0].ay/tone_noise_BRB5" BEL "cnt26_1_1" BEL "cnt26_1_2" BEL
        "cnt26_0_1" BEL "cnt26_2_1" BEL "cnt26_3_1" BEL "cnt26_0_2" BEL
        "cnt26_2_2" BEL "cnt26_3_2" BEL "DAC/bclk_1" BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/has_mux_a.A/sel_pipe_1"
        BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/has_mux_a.A/sel_pipe_2"
        BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/has_mux_b.B/sel_pipe_1"
        BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/has_mux_b.B/sel_pipe_2"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[31].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[31].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[30].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[30].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[29].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[29].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[28].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[28].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[27].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[27].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[26].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[26].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[25].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[25].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[24].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[24].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[23].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[23].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[22].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[22].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[21].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[21].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[20].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[20].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[19].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[19].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[18].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[18].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[17].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[17].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[16].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[16].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[15].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[15].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[14].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[14].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[13].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[13].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[12].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[12].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[11].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[11].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[10].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[10].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[9].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[9].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[8].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[8].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        BEL "dcm_final_inst/clkf_buf";
PIN dcm_final_inst/dcm_sp_inst_pins<2> = BEL "dcm_final_inst/dcm_sp_inst"
        PINNAME CLKIN;
TIMEGRP clk_intermediate_13mhz = PIN "dcm_final_inst/dcm_sp_inst_pins<2>" BEL
        "clk_intermediate_13mhz_BUFG";
TS_nCLOCK = PERIOD TIMEGRP "nCLOCK" 307.692 ns HIGH 50%;
TS_clk_intermediate_13mhz = PERIOD TIMEGRP "clk_intermediate_13mhz" TS_nCLOCK
        / 4 HIGH 50%;
TS_dcm_final_inst_clk2x = PERIOD TIMEGRP "dcm_final_inst_clk2x"
        TS_clk_intermediate_13mhz / 2 HIGH 50%;
SCHEMATIC END;

