//! **************************************************************************
// Written by: Map P.20131013 on Thu Oct 16 17:07:22 2025
//! **************************************************************************

SCHEMATIC START;
COMP "A0" LOCATE = SITE "P30" LEVEL 1;
COMP "A1" LOCATE = SITE "P33" LEVEL 1;
COMP "A2" LOCATE = SITE "P35" LEVEL 1;
COMP "B0" LOCATE = SITE "P116" LEVEL 1;
COMP "A3" LOCATE = SITE "P40" LEVEL 1;
COMP "B1" LOCATE = SITE "P117" LEVEL 1;
COMP "A4" LOCATE = SITE "P69" LEVEL 1;
COMP "B2" LOCATE = SITE "P118" LEVEL 1;
COMP "A5" LOCATE = SITE "P66" LEVEL 1;
COMP "B3" LOCATE = SITE "P119" LEVEL 1;
COMP "A6" LOCATE = SITE "P41" LEVEL 1;
COMP "D0" LOCATE = SITE "P23" LEVEL 1;
COMP "B4" LOCATE = SITE "P120" LEVEL 1;
COMP "A7" LOCATE = SITE "P62" LEVEL 1;
COMP "D1" LOCATE = SITE "P26" LEVEL 1;
COMP "B5" LOCATE = SITE "P121" LEVEL 1;
COMP "A8" LOCATE = SITE "P60" LEVEL 1;
COMP "D2" LOCATE = SITE "P27" LEVEL 1;
COMP "B6" LOCATE = SITE "P123" LEVEL 1;
COMP "A9" LOCATE = SITE "P59" LEVEL 1;
COMP "D3" LOCATE = SITE "P34" LEVEL 1;
COMP "B7" LOCATE = SITE "P124" LEVEL 1;
COMP "D4" LOCATE = SITE "P39" LEVEL 1;
COMP "D5" LOCATE = SITE "P32" LEVEL 1;
COMP "D6" LOCATE = SITE "P29" LEVEL 1;
COMP "D7" LOCATE = SITE "P21" LEVEL 1;
COMP "O0" LOCATE = SITE "P126" LEVEL 1;
COMP "O1" LOCATE = SITE "P127" LEVEL 1;
COMP "O2" LOCATE = SITE "P131" LEVEL 1;
COMP "O3" LOCATE = SITE "P132" LEVEL 1;
COMP "O4" LOCATE = SITE "P133" LEVEL 1;
COMP "O5" LOCATE = SITE "P134" LEVEL 1;
COMP "O6" LOCATE = SITE "P137" LEVEL 1;
COMP "O7" LOCATE = SITE "P138" LEVEL 1;
COMP "UP" LOCATE = SITE "P78" LEVEL 1;
COMP "A10" LOCATE = SITE "P57" LEVEL 1;
COMP "A11" LOCATE = SITE "P55" LEVEL 1;
COMP "A12" LOCATE = SITE "P50" LEVEL 1;
COMP "A13" LOCATE = SITE "P47" LEVEL 1;
COMP "A14" LOCATE = SITE "P45" LEVEL 1;
COMP "A15" LOCATE = SITE "P43" LEVEL 1;
COMP "A0x" LOCATE = SITE "P83" LEVEL 1;
COMP "A1x" LOCATE = SITE "P84" LEVEL 1;
COMP "A2x" LOCATE = SITE "P85" LEVEL 1;
COMP "A3x" LOCATE = SITE "P88" LEVEL 1;
COMP "A4x" LOCATE = SITE "P93" LEVEL 1;
COMP "A5x" LOCATE = SITE "P95" LEVEL 1;
COMP "A6x" LOCATE = SITE "P99" LEVEL 1;
COMP "A7x" LOCATE = SITE "P101" LEVEL 1;
COMP "A8x" LOCATE = SITE "P98" LEVEL 1;
COMP "A9x" LOCATE = SITE "P97" LEVEL 1;
COMP "nM1" LOCATE = SITE "P67" LEVEL 1;
COMP "nRD" LOCATE = SITE "P105" LEVEL 1;
COMP "nWR" LOCATE = SITE "P58" LEVEL 1;
COMP "A10x" LOCATE = SITE "P87" LEVEL 1;
COMP "A11x" LOCATE = SITE "P94" LEVEL 1;
COMP "A12x" LOCATE = SITE "P104" LEVEL 1;
COMP "A13x" LOCATE = SITE "P100" LEVEL 1;
COMP "A14x" LOCATE = SITE "P111" LEVEL 1;
COMP "A15x" LOCATE = SITE "P112" LEVEL 1;
COMP "A16x" LOCATE = SITE "P114" LEVEL 1;
COMP "A17x" LOCATE = SITE "P61" LEVEL 1;
COMP "A18x" LOCATE = SITE "P115" LEVEL 1;
COMP "GET_DATA_REG" LOCATE = SITE "P2" LEVEL 1;
COMP "FIRE" LOCATE = SITE "P82" LEVEL 1;
COMP "LEFT" LOCATE = SITE "P80" LEVEL 1;
COMP "DOWN" LOCATE = SITE "P79" LEVEL 1;
COMP "VRED" LOCATE = SITE "P7" LEVEL 1;
COMP "nWRx" LOCATE = SITE "P102" LEVEL 1;
COMP "nMEM_OE" LOCATE = SITE "P92" LEVEL 1;
COMP "GET_CTRL_REG" LOCATE = SITE "P5" LEVEL 1;
COMP "CSYNC" LOCATE = SITE "P10" LEVEL 1;
COMP "RIGHT" LOCATE = SITE "P81" LEVEL 1;
COMP "VBLUE" LOCATE = SITE "P9" LEVEL 1;
COMP "nHALT" LOCATE = SITE "P46" LEVEL 1;
COMP "nIORQ" LOCATE = SITE "P51" LEVEL 1;
COMP "nMREQ" LOCATE = SITE "P48" LEVEL 1;
COMP "nRFSH" LOCATE = SITE "P74" LEVEL 1;
COMP "test1" LOCATE = SITE "P22" LEVEL 1;
COMP "test2" LOCATE = SITE "P56" LEVEL 1;
COMP "nMEM_OEm" LOCATE = SITE "P142" LEVEL 1;
COMP "BRIGHT" LOCATE = SITE "P11" LEVEL 1;
COMP "VGREEN" LOCATE = SITE "P8" LEVEL 1;
COMP "DEBUG_RDY" LOCATE = SITE "P14" LEVEL 1;
COMP "nCLOCK" LOCATE = SITE "P24" LEVEL 1;
COMP "nRESET" LOCATE = SITE "P139" LEVEL 1;
PIN nRESET_pin<0> = BEL "nRESET" PINNAME PAD;
PIN "nRESET_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "nOE_OL" LOCATE = SITE "P12" LEVEL 1;
COMP "CFG_RESET" LOCATE = SITE "P16" LEVEL 1;
COMP "SEL_128CHARS" LOCATE = SITE "P141" LEVEL 1;
COMP "CFG_DATA" LOCATE = SITE "P15" LEVEL 1;
COMP "test_NMI" LOCATE = SITE "P44" LEVEL 1;
COMP "nRST_DATA_REG" LOCATE = SITE "P144" LEVEL 1;
COMP "MICRO_DB_CLK" LOCATE = SITE "P143" LEVEL 1;
COMP "CFG_CLK" LOCATE = SITE "P17" LEVEL 1;
COMP "CTRL_CLK" LOCATE = SITE "P6" LEVEL 1;
COMP "nRST_CTRL_REG" LOCATE = SITE "P1" LEVEL 1;
PIN SP6_BUFIO_INSERT_ML_BUFIO2_0_pins<0> = BEL "SP6_BUFIO_INSERT_ML_BUFIO2_0"
        PINNAME DIVCLK;
PIN dcm_booster_inst_pins<2> = BEL "dcm_booster_inst" PINNAME CLKIN;
TIMEGRP nCLOCK = BEL "trace_mode" BEL "old_nRD" BEL "trace_95_0" BEL
        "trace_95_1" BEL "trace_95_2" BEL "trace_95_3" BEL "trace_95_4" BEL
        "trace_95_5" BEL "trace_95_6" BEL "trace_95_7" BEL "trace_95_8" BEL
        "trace_95_9" BEL "trace_95_10" BEL "trace_95_11" BEL "trace_95_12" BEL
        "trace_95_13" BEL "trace_95_14" BEL "trace_95_15" BEL "trace_95_16"
        BEL "trace_95_17" BEL "trace_95_18" BEL "trace_95_19" BEL
        "trace_95_20" BEL "trace_95_21" BEL "trace_95_22" BEL "trace_95_23"
        BEL "trace_95_24" BEL "trace_95_25" BEL "trace_95_26" BEL
        "trace_95_27" BEL "trace_95_28" BEL "trace_95_29" BEL "trace_95_30"
        BEL "trace_95_31" BEL "trace_95_32" BEL "trace_95_33" BEL
        "trace_95_34" BEL "trace_95_35" BEL "trace_95_36" BEL "trace_95_37"
        BEL "trace_95_38" BEL "trace_95_39" BEL "trace_95_40" BEL
        "trace_95_41" BEL "trace_95_42" BEL "trace_95_43" BEL "trace_95_44"
        BEL "trace_95_45" BEL "trace_95_46" BEL "trace_95_47" BEL
        "trace_95_48" BEL "trace_95_49" BEL "trace_95_50" BEL "trace_95_51"
        BEL "trace_95_52" BEL "trace_95_53" BEL "trace_95_54" BEL
        "trace_95_55" BEL "trace_95_56" BEL "trace_95_57" BEL "trace_95_58"
        BEL "trace_95_59" BEL "trace_95_60" BEL "trace_95_61" BEL
        "trace_95_62" BEL "trace_95_63" BEL "trace_95_64" BEL "trace_95_65"
        BEL "trace_95_66" BEL "trace_95_67" BEL "trace_95_68" BEL
        "trace_95_69" BEL "trace_95_70" BEL "trace_95_71" BEL "trace_95_72"
        BEL "trace_95_73" BEL "trace_95_74" BEL "trace_95_75" BEL
        "trace_95_76" BEL "trace_95_77" BEL "trace_95_78" BEL "trace_95_79"
        BEL "trace_95_80" BEL "trace_95_81" BEL "trace_95_82" BEL
        "trace_95_83" BEL "trace_95_84" BEL "trace_95_85" BEL "trace_95_86"
        BEL "trace_95_87" BEL "trace_95_88" BEL "trace_95_89" BEL
        "trace_95_90" BEL "trace_95_91" BEL "trace_95_92" BEL "trace_95_93"
        BEL "trace_95_94" BEL "trace_95_95" BEL "trace_95_96" BEL
        "trace_95_97" BEL "trace_95_98" BEL "trace_95_99" BEL "trace_95_100"
        BEL "trace_95_101" BEL "trace_95_102" BEL "trace_95_103" BEL
        "trace_95_104" BEL "trace_95_105" BEL "trace_95_106" BEL
        "trace_95_107" BEL "trace_95_108" BEL "trace_95_109" BEL
        "trace_95_110" BEL "trace_95_111" BEL "trace_95_112" BEL
        "trace_95_113" BEL "trace_95_114" BEL "trace_95_115" BEL
        "trace_95_116" BEL "trace_95_117" BEL "trace_95_118" BEL
        "trace_95_119" BEL "trace_95_120" BEL "trace_95_121" BEL
        "trace_95_122" BEL "trace_95_123" BEL "trace_95_124" BEL
        "trace_95_125" BEL "trace_95_126" BEL "trace_95_127" BEL
        "trace_95_128" BEL "trace_95_129" BEL "trace_95_130" BEL
        "trace_95_131" BEL "trace_95_132" BEL "trace_95_133" BEL
        "trace_95_134" BEL "trace_95_135" BEL "trace_95_136" BEL
        "trace_95_137" BEL "trace_95_138" BEL "trace_95_139" BEL
        "trace_95_140" BEL "trace_95_141" BEL "trace_95_142" BEL
        "trace_95_143" BEL "trace_95_144" BEL "trace_95_145" BEL
        "trace_95_146" BEL "trace_95_147" BEL "trace_95_148" BEL
        "trace_95_149" BEL "trace_95_150" BEL "trace_95_151" BEL
        "trace_95_152" BEL "trace_95_153" BEL "trace_95_154" BEL
        "trace_95_155" BEL "trace_95_156" BEL "trace_95_157" BEL
        "trace_95_158" BEL "trace_95_159" BEL "trace_95_160" BEL
        "trace_95_161" BEL "trace_95_162" BEL "trace_95_163" BEL
        "trace_95_164" BEL "trace_95_165" BEL "trace_95_166" BEL
        "trace_95_167" BEL "trace_95_168" BEL "trace_95_169" BEL
        "trace_95_170" BEL "trace_95_171" BEL "trace_95_172" BEL
        "trace_95_173" BEL "trace_95_174" BEL "trace_95_175" BEL
        "trace_95_176" BEL "trace_95_177" BEL "trace_95_178" BEL
        "trace_95_179" BEL "trace_95_180" BEL "trace_95_181" BEL
        "trace_95_182" BEL "trace_95_183" BEL "trace_95_184" BEL
        "trace_95_185" BEL "trace_95_186" BEL "trace_95_187" BEL
        "trace_95_188" BEL "trace_95_189" BEL "trace_95_190" BEL
        "trace_95_191" BEL "trace_95_192" BEL "trace_95_193" BEL
        "trace_95_194" BEL "trace_95_195" BEL "trace_95_196" BEL
        "trace_95_197" BEL "trace_95_198" BEL "trace_95_199" BEL
        "trace_95_200" BEL "trace_95_201" BEL "trace_95_202" BEL
        "trace_95_203" BEL "trace_95_204" BEL "trace_95_205" BEL
        "trace_95_206" BEL "trace_95_207" BEL "trace_95_208" BEL
        "trace_95_209" BEL "trace_95_210" BEL "trace_95_211" BEL
        "trace_95_212" BEL "trace_95_213" BEL "trace_95_214" BEL
        "trace_95_215" BEL "trace_95_216" BEL "trace_95_217" BEL
        "trace_95_218" BEL "trace_95_219" BEL "trace_95_220" BEL
        "trace_95_221" BEL "trace_95_222" BEL "trace_95_223" BEL
        "trace_95_224" BEL "trace_95_225" BEL "trace_95_226" BEL
        "trace_95_227" BEL "trace_95_228" BEL "trace_95_229" BEL
        "trace_95_230" BEL "trace_95_231" BEL "trace_95_232" BEL
        "trace_95_233" BEL "trace_95_234" BEL "trace_95_235" BEL
        "trace_95_236" BEL "trace_95_237" BEL "trace_95_238" BEL
        "trace_95_239" BEL "trace_95_240" BEL "trace_95_241" BEL
        "trace_95_242" BEL "trace_95_243" BEL "trace_95_244" BEL
        "trace_95_245" BEL "trace_95_246" BEL "trace_95_247" BEL
        "trace_95_248" BEL "trace_95_249" BEL "trace_95_250" BEL
        "trace_95_251" BEL "trace_95_252" BEL "trace_95_253" BEL
        "trace_95_254" BEL "trace_95_255" BEL "trace_95_256" BEL
        "trace_95_257" BEL "trace_95_258" BEL "trace_95_259" BEL
        "trace_95_260" BEL "trace_95_261" BEL "trace_95_262" BEL
        "trace_95_263" BEL "trace_95_264" BEL "trace_95_265" BEL
        "trace_95_266" BEL "trace_95_267" BEL "trace_95_268" BEL
        "trace_95_269" BEL "trace_95_270" BEL "trace_95_271" BEL
        "trace_95_272" BEL "trace_95_273" BEL "trace_95_274" BEL
        "trace_95_275" BEL "trace_95_276" BEL "trace_95_277" BEL
        "trace_95_278" BEL "trace_95_279" BEL "trace_95_280" BEL
        "trace_95_281" BEL "trace_95_282" BEL "trace_95_283" BEL
        "trace_95_284" BEL "trace_95_285" BEL "trace_95_286" BEL
        "trace_95_287" BEL "trace_95_288" BEL "trace_95_289" BEL
        "trace_95_290" BEL "trace_95_291" BEL "trace_95_292" BEL
        "trace_95_293" BEL "trace_95_294" BEL "trace_95_295" BEL
        "trace_95_296" BEL "trace_95_297" BEL "trace_95_298" BEL
        "trace_95_299" BEL "trace_95_300" BEL "trace_95_301" BEL
        "trace_95_302" BEL "trace_95_303" BEL "trace_95_304" BEL
        "trace_95_305" BEL "trace_95_306" BEL "trace_95_307" BEL
        "trace_95_308" BEL "trace_95_309" BEL "trace_95_310" BEL
        "trace_95_311" BEL "trace_95_312" BEL "trace_95_313" BEL
        "trace_95_314" BEL "trace_95_315" BEL "trace_95_316" BEL
        "trace_95_317" BEL "trace_95_318" BEL "trace_95_319" BEL
        "trace_95_320" BEL "trace_95_321" BEL "trace_95_322" BEL
        "trace_95_323" BEL "trace_95_324" BEL "trace_95_325" BEL
        "trace_95_326" BEL "trace_95_327" BEL "trace_95_328" BEL
        "trace_95_329" BEL "trace_95_330" BEL "trace_95_331" BEL
        "trace_95_332" BEL "trace_95_333" BEL "trace_95_334" BEL
        "trace_95_335" BEL "trace_95_336" BEL "trace_95_337" BEL
        "trace_95_338" BEL "trace_95_339" BEL "trace_95_340" BEL
        "trace_95_341" BEL "trace_95_342" BEL "trace_95_343" BEL
        "trace_95_344" BEL "trace_95_345" BEL "trace_95_346" BEL
        "trace_95_347" BEL "trace_95_348" BEL "trace_95_349" BEL
        "trace_95_350" BEL "trace_95_351" BEL "trace_95_352" BEL
        "trace_95_353" BEL "trace_95_354" BEL "trace_95_355" BEL
        "trace_95_356" BEL "trace_95_357" BEL "trace_95_358" BEL
        "trace_95_359" BEL "trace_95_360" BEL "trace_95_361" BEL
        "trace_95_362" BEL "trace_95_363" BEL "trace_95_364" BEL
        "trace_95_365" BEL "trace_95_366" BEL "trace_95_367" BEL
        "trace_95_368" BEL "trace_95_369" BEL "trace_95_370" BEL
        "trace_95_371" BEL "trace_95_372" BEL "trace_95_373" BEL
        "trace_95_374" BEL "trace_95_375" BEL "trace_95_376" BEL
        "trace_95_377" BEL "trace_95_378" BEL "trace_95_379" BEL
        "trace_95_380" BEL "trace_95_381" BEL "trace_95_382" BEL
        "trace_95_383" BEL "trace_95_384" BEL "trace_95_385" BEL
        "trace_95_386" BEL "trace_95_387" BEL "trace_95_388" BEL
        "trace_95_389" BEL "trace_95_390" BEL "trace_95_391" BEL
        "trace_95_392" BEL "trace_95_393" BEL "trace_95_394" BEL
        "trace_95_395" BEL "trace_95_396" BEL "trace_95_397" BEL
        "trace_95_398" BEL "trace_95_399" BEL "trace_95_400" BEL
        "trace_95_401" BEL "trace_95_402" BEL "trace_95_403" BEL
        "trace_95_404" BEL "trace_95_405" BEL "trace_95_406" BEL
        "trace_95_407" BEL "trace_95_408" BEL "trace_95_409" BEL
        "trace_95_410" BEL "trace_95_411" BEL "trace_95_412" BEL
        "trace_95_413" BEL "trace_95_414" BEL "trace_95_415" BEL
        "trace_95_416" BEL "trace_95_417" BEL "trace_95_418" BEL
        "trace_95_419" BEL "trace_95_420" BEL "trace_95_421" BEL
        "trace_95_422" BEL "trace_95_423" BEL "trace_95_424" BEL
        "trace_95_425" BEL "trace_95_426" BEL "trace_95_427" BEL
        "trace_95_428" BEL "trace_95_429" BEL "trace_95_430" BEL
        "trace_95_431" BEL "trace_95_432" BEL "trace_95_433" BEL
        "trace_95_434" BEL "trace_95_435" BEL "trace_95_436" BEL
        "trace_95_437" BEL "trace_95_438" BEL "trace_95_439" BEL
        "trace_95_440" BEL "trace_95_441" BEL "trace_95_442" BEL
        "trace_95_443" BEL "trace_95_444" BEL "trace_95_445" BEL
        "trace_95_446" BEL "trace_95_447" BEL "trace_95_448" BEL
        "trace_95_449" BEL "trace_95_450" BEL "trace_95_451" BEL
        "trace_95_452" BEL "trace_95_453" BEL "trace_95_454" BEL
        "trace_95_455" BEL "trace_95_456" BEL "trace_95_457" BEL
        "trace_95_458" BEL "trace_95_459" BEL "trace_95_460" BEL
        "trace_95_461" BEL "trace_95_462" BEL "trace_95_463" BEL
        "trace_95_464" BEL "trace_95_465" BEL "trace_95_466" BEL
        "trace_95_467" BEL "trace_95_468" BEL "trace_95_469" BEL
        "trace_95_470" BEL "trace_95_471" BEL "trace_95_472" BEL
        "trace_95_473" BEL "trace_95_474" BEL "trace_95_475" BEL
        "trace_95_476" BEL "trace_95_477" BEL "trace_95_478" BEL
        "trace_95_479" BEL "trace_95_480" BEL "trace_95_481" BEL
        "trace_95_482" BEL "trace_95_483" BEL "trace_95_484" BEL
        "trace_95_485" BEL "trace_95_486" BEL "trace_95_487" BEL
        "trace_95_488" BEL "trace_95_489" BEL "trace_95_490" BEL
        "trace_95_491" BEL "trace_95_492" BEL "trace_95_493" BEL
        "trace_95_494" BEL "trace_95_495" BEL "trace_95_496" BEL
        "trace_95_497" BEL "trace_95_498" BEL "trace_95_499" BEL
        "trace_95_500" BEL "trace_95_501" BEL "trace_95_502" BEL
        "trace_95_503" BEL "trace_95_504" BEL "trace_95_505" BEL
        "trace_95_506" BEL "trace_95_507" BEL "trace_95_508" BEL
        "trace_95_509" BEL "trace_95_510" BEL "trace_95_511" BEL
        "trace_95_512" BEL "trace_95_513" BEL "trace_95_514" BEL
        "trace_95_515" BEL "trace_95_516" BEL "trace_95_517" BEL
        "trace_95_518" BEL "trace_95_519" BEL "trace_95_520" BEL
        "trace_95_521" BEL "trace_95_522" BEL "trace_95_523" BEL
        "trace_95_524" BEL "trace_95_525" BEL "trace_95_526" BEL
        "trace_95_527" BEL "trace_95_528" BEL "trace_95_529" BEL
        "trace_95_530" BEL "trace_95_531" BEL "trace_95_532" BEL
        "trace_95_533" BEL "trace_95_534" BEL "trace_95_535" BEL
        "trace_95_536" BEL "trace_95_537" BEL "trace_95_538" BEL
        "trace_95_539" BEL "trace_95_540" BEL "trace_95_541" BEL
        "trace_95_542" BEL "trace_95_543" BEL "trace_95_544" BEL
        "trace_95_545" BEL "trace_95_546" BEL "trace_95_547" BEL
        "trace_95_548" BEL "trace_95_549" BEL "trace_95_550" BEL
        "trace_95_551" BEL "trace_95_552" BEL "trace_95_553" BEL
        "trace_95_554" BEL "trace_95_555" BEL "trace_95_556" BEL
        "trace_95_557" BEL "trace_95_558" BEL "trace_95_559" BEL
        "trace_95_560" BEL "trace_95_561" BEL "trace_95_562" BEL
        "trace_95_563" BEL "trace_95_564" BEL "trace_95_565" BEL
        "trace_95_566" BEL "trace_95_567" BEL "trace_95_568" BEL
        "trace_95_569" BEL "trace_95_570" BEL "trace_95_571" BEL
        "trace_95_572" BEL "trace_95_573" BEL "trace_95_574" BEL
        "trace_95_575" BEL "trace_95_576" BEL "trace_95_577" BEL
        "trace_95_578" BEL "trace_95_579" BEL "trace_95_580" BEL
        "trace_95_581" BEL "trace_95_582" BEL "trace_95_583" BEL
        "trace_95_584" BEL "trace_95_585" BEL "trace_95_586" BEL
        "trace_95_587" BEL "trace_95_588" BEL "trace_95_589" BEL
        "trace_95_590" BEL "trace_95_591" BEL "trace_95_592" BEL
        "trace_95_593" BEL "trace_95_594" BEL "trace_95_595" BEL
        "trace_95_596" BEL "trace_95_597" BEL "trace_95_598" BEL
        "trace_95_599" BEL "trace_95_600" BEL "trace_95_601" BEL
        "trace_95_602" BEL "trace_95_603" BEL "trace_95_604" BEL
        "trace_95_605" BEL "trace_95_606" BEL "trace_95_607" BEL
        "trace_95_608" BEL "trace_95_609" BEL "trace_95_610" BEL
        "trace_95_611" BEL "trace_95_612" BEL "trace_95_613" BEL
        "trace_95_614" BEL "trace_95_615" BEL "trace_95_616" BEL
        "trace_95_617" BEL "trace_95_618" BEL "trace_95_619" BEL
        "trace_95_620" BEL "trace_95_621" BEL "trace_95_622" BEL
        "trace_95_623" BEL "trace_95_624" BEL "trace_95_625" BEL
        "trace_95_626" BEL "trace_95_627" BEL "trace_95_628" BEL
        "trace_95_629" BEL "trace_95_630" BEL "trace_95_631" BEL
        "trace_95_632" BEL "trace_95_633" BEL "trace_95_634" BEL
        "trace_95_635" BEL "trace_95_636" BEL "trace_95_637" BEL
        "trace_95_638" BEL "trace_95_639" BEL "trace_95_640" BEL
        "trace_95_641" BEL "trace_95_642" BEL "trace_95_643" BEL
        "trace_95_644" BEL "trace_95_645" BEL "trace_95_646" BEL
        "trace_95_647" BEL "trace_95_648" BEL "trace_95_649" BEL
        "trace_95_650" BEL "trace_95_651" BEL "trace_95_652" BEL
        "trace_95_653" BEL "trace_95_654" BEL "trace_95_655" BEL
        "trace_95_656" BEL "trace_95_657" BEL "trace_95_658" BEL
        "trace_95_659" BEL "trace_95_660" BEL "trace_95_661" BEL
        "trace_95_662" BEL "trace_95_663" BEL "trace_95_664" BEL
        "trace_95_665" BEL "trace_95_666" BEL "trace_95_667" BEL
        "trace_95_668" BEL "trace_95_669" BEL "trace_95_670" BEL
        "trace_95_671" BEL "trace_95_672" BEL "trace_95_673" BEL
        "trace_95_674" BEL "trace_95_675" BEL "trace_95_676" BEL
        "trace_95_677" BEL "trace_95_678" BEL "trace_95_679" BEL
        "trace_95_680" BEL "trace_95_681" BEL "trace_95_682" BEL
        "trace_95_683" BEL "trace_95_684" BEL "trace_95_685" BEL
        "trace_95_686" BEL "trace_95_687" BEL "trace_95_688" BEL
        "trace_95_689" BEL "trace_95_690" BEL "trace_95_691" BEL
        "trace_95_692" BEL "trace_95_693" BEL "trace_95_694" BEL
        "trace_95_695" BEL "trace_95_696" BEL "trace_95_697" BEL
        "trace_95_698" BEL "trace_95_699" BEL "trace_95_700" BEL
        "trace_95_701" BEL "trace_95_702" BEL "trace_95_703" BEL
        "trace_95_704" BEL "trace_95_705" BEL "trace_95_706" BEL
        "trace_95_707" BEL "trace_95_708" BEL "trace_95_709" BEL
        "trace_95_710" BEL "trace_95_711" BEL "trace_95_712" BEL
        "trace_95_713" BEL "trace_95_714" BEL "trace_95_715" BEL
        "trace_95_716" BEL "trace_95_717" BEL "trace_95_718" BEL
        "trace_95_719" BEL "trace_95_720" BEL "trace_95_721" BEL
        "trace_95_722" BEL "trace_95_723" BEL "trace_95_724" BEL
        "trace_95_725" BEL "trace_95_726" BEL "trace_95_727" BEL
        "trace_95_728" BEL "trace_95_729" BEL "trace_95_730" BEL
        "trace_95_731" BEL "trace_95_732" BEL "trace_95_733" BEL
        "trace_95_734" BEL "trace_95_735" BEL "trace_95_736" BEL
        "trace_95_737" BEL "trace_95_738" BEL "trace_95_739" BEL
        "trace_95_740" BEL "trace_95_741" BEL "trace_95_742" BEL
        "trace_95_743" BEL "trace_95_744" BEL "trace_95_745" BEL
        "trace_95_746" BEL "trace_95_747" BEL "trace_95_748" BEL
        "trace_95_749" BEL "trace_95_750" BEL "trace_95_751" BEL
        "trace_95_752" BEL "trace_95_753" BEL "trace_95_754" BEL
        "trace_95_755" BEL "trace_95_756" BEL "trace_95_757" BEL
        "trace_95_758" BEL "trace_95_759" BEL "trace_95_760" BEL
        "trace_95_761" BEL "trace_95_762" BEL "trace_95_763" BEL
        "trace_95_764" BEL "trace_95_765" BEL "trace_95_766" BEL
        "trace_95_767" BEL "debug_rdy_delayed_0" BEL "debug_rdy_delayed_1" BEL
        "debug_rdy_delayed_2" BEL "debug_rdy_delayed_3" BEL
        "debug_rdy_delayed_4" BEL "debug_rdy_delayed_5" BEL
        "debug_rdy_delayed_6" BEL "debug_rdy_delayed_7" BEL "old_vsync2" BEL
        "trace_pos_0" BEL "trace_pos_1" BEL "trace_pos_2" BEL "trace_pos_3"
        BEL "trace_pos_4" BEL "trace_pos_5" BEL "trace_pos_6" BEL
        "sending_trace" BEL "debug_data_0" BEL "debug_data_1" BEL
        "debug_data_2" BEL "debug_data_3" BEL "debug_data_4" BEL
        "debug_data_5" BEL "debug_data_6" BEL "debug_data_7" BEL
        "trace_data_rdy" BEL "prev_micro_db_clk" BEL "FRAMES_0" BEL "FRAMES_1"
        BEL "FRAMES_2" BEL "FRAMES_3" BEL "FRAMES_4" BEL "FRAMES_5" BEL
        "FRAMES_6" BEL "FRAMES_7" BEL "FRAMES_8" BEL "FRAMES_9" BEL
        "FRAMES_10" BEL "FRAMES_11" BEL "FRAMES_12" BEL "FRAMES_13" BEL
        "FRAMES_14" BEL "FRAMES_15" BEL "DFILE_0" BEL "DFILE_1" BEL "DFILE_2"
        BEL "DFILE_3" BEL "DFILE_4" BEL "DFILE_5" BEL "DFILE_6" BEL "DFILE_7"
        BEL "DFILE_8" BEL "DFILE_9" BEL "DFILE_10" BEL "DFILE_11" BEL
        "DFILE_12" BEL "DFILE_13" BEL "DFILE_14" BEL "DFILE_15" BEL
        "nCLOCK_IBUFG_BUFG" BEL "sending_trace_1" BEL "trace_mode_1" PIN
        "SP6_BUFIO_INSERT_ML_BUFIO2_0_pins<0>" PIN "dcm_booster_inst_pins<2>";
PIN dcm_final_inst/dcm_sp_inst_pins<1> = BEL "dcm_final_inst/dcm_sp_inst"
        PINNAME CLKFB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[31].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[31].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[31].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[31].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[30].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[30].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[30].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[30].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[29].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[29].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[29].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[29].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[28].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[28].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[28].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[28].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[27].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[27].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[27].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[27].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[26].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[26].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[26].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[26].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[25].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[25].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[25].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[25].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[24].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[24].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[24].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[24].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[23].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[23].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[23].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[23].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[22].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[22].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[22].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[22].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[21].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[21].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[21].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[21].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[20].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[20].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[20].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[20].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[19].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[19].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[19].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[19].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[18].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[18].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[18].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[18].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[17].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[17].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[17].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[17].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[16].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[16].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[16].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[16].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[15].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[15].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[15].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[15].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[14].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[14].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[14].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[14].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[13].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[13].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[13].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[13].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[12].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[12].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[12].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[12].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[11].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[11].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[11].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[11].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[10].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[10].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[10].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[10].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[9].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[9].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[9].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[9].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[8].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[8].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[8].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[8].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKA;
PIN
        shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>
        = BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram"
        PINNAME CLKB;
TIMEGRP dcm_final_inst_clk2x = BEL "forced_NOP_cycle" BEL "old_vsync" BEL
        "old_hsync" BEL "char_latch_0" BEL "char_latch_1" BEL "char_latch_2"
        BEL "char_latch_3" BEL "char_latch_4" BEL "char_latch_5" BEL
        "char_latch_6" BEL "char_latch_7" BEL "attr_latch_0" BEL
        "attr_latch_1" BEL "attr_latch_2" BEL "attr_latch_3" BEL
        "attr_latch_4" BEL "attr_latch_5" BEL "attr_latch_6" BEL
        "attr_latch_7" BEL "aychips[1].ay/envelope_period_15" BEL
        "aychips[1].ay/envelope_period_14" BEL
        "aychips[1].ay/envelope_period_13" BEL
        "aychips[1].ay/envelope_period_12" BEL
        "aychips[1].ay/envelope_period_11" BEL
        "aychips[1].ay/envelope_period_10" BEL
        "aychips[1].ay/envelope_period_9" BEL
        "aychips[1].ay/envelope_period_8" BEL
        "aychips[1].ay/envelope_period_7" BEL
        "aychips[1].ay/envelope_period_6" BEL
        "aychips[1].ay/envelope_period_5" BEL
        "aychips[1].ay/envelope_period_4" BEL
        "aychips[1].ay/envelope_period_3" BEL
        "aychips[1].ay/envelope_period_2" BEL
        "aychips[1].ay/envelope_period_1" BEL
        "aychips[1].ay/envelope_period_0" BEL "aychips[1].ay/period_c_11" BEL
        "aychips[1].ay/period_c_10" BEL "aychips[1].ay/period_c_9" BEL
        "aychips[1].ay/period_c_8" BEL "aychips[1].ay/period_c_7" BEL
        "aychips[1].ay/period_c_6" BEL "aychips[1].ay/period_c_5" BEL
        "aychips[1].ay/period_c_4" BEL "aychips[1].ay/period_c_3" BEL
        "aychips[1].ay/period_c_2" BEL "aychips[1].ay/period_c_1" BEL
        "aychips[1].ay/period_c_0" BEL "aychips[1].ay/period_b_11" BEL
        "aychips[1].ay/period_b_10" BEL "aychips[1].ay/period_b_9" BEL
        "aychips[1].ay/period_b_8" BEL "aychips[1].ay/period_b_7" BEL
        "aychips[1].ay/period_b_6" BEL "aychips[1].ay/period_b_5" BEL
        "aychips[1].ay/period_b_4" BEL "aychips[1].ay/period_b_3" BEL
        "aychips[1].ay/period_b_2" BEL "aychips[1].ay/period_b_1" BEL
        "aychips[1].ay/period_b_0" BEL "aychips[1].ay/period_a_11" BEL
        "aychips[1].ay/period_a_10" BEL "aychips[1].ay/period_a_9" BEL
        "aychips[1].ay/period_a_8" BEL "aychips[1].ay/period_a_7" BEL
        "aychips[1].ay/period_a_6" BEL "aychips[1].ay/period_a_5" BEL
        "aychips[1].ay/period_a_4" BEL "aychips[1].ay/period_a_3" BEL
        "aychips[1].ay/period_a_2" BEL "aychips[1].ay/period_a_1" BEL
        "aychips[1].ay/period_a_0" BEL "aychips[1].ay/amp_c_3" BEL
        "aychips[1].ay/amp_c_2" BEL "aychips[1].ay/amp_c_1" BEL
        "aychips[1].ay/amp_c_0" BEL "aychips[1].ay/envelope_shape_3" BEL
        "aychips[1].ay/envelope_shape_2" BEL "aychips[1].ay/envelope_shape_1"
        BEL "aychips[1].ay/envelope_shape_0" BEL "aychips[1].ay/amp_a_3" BEL
        "aychips[1].ay/amp_a_2" BEL "aychips[1].ay/amp_a_1" BEL
        "aychips[1].ay/amp_a_0" BEL "aychips[1].ay/ampmode_c" BEL
        "aychips[1].ay/amp_b_3" BEL "aychips[1].ay/amp_b_2" BEL
        "aychips[1].ay/amp_b_1" BEL "aychips[1].ay/amp_b_0" BEL
        "aychips[1].ay/ampmode_a" BEL "aychips[1].ay/noise_period_4" BEL
        "aychips[1].ay/noise_period_3" BEL "aychips[1].ay/noise_period_2" BEL
        "aychips[1].ay/noise_period_1" BEL "aychips[1].ay/noise_period_0" BEL
        "aychips[1].ay/ampmode_b" BEL "aychips[1].ay/enable_chan_7" BEL
        "aychips[1].ay/enable_chan_6" BEL "aychips[1].ay/enable_chan_5" BEL
        "aychips[1].ay/enable_chan_4" BEL "aychips[1].ay/enable_chan_3" BEL
        "aychips[1].ay/enable_chan_2" BEL "aychips[1].ay/enable_chan_1" BEL
        "aychips[1].ay/enable_chan_0" BEL "aychips[1].ay/reg_port_b_7" BEL
        "aychips[1].ay/reg_port_b_6" BEL "aychips[1].ay/reg_port_b_5" BEL
        "aychips[1].ay/reg_port_b_4" BEL "aychips[1].ay/reg_port_b_3" BEL
        "aychips[1].ay/reg_port_b_2" BEL "aychips[1].ay/reg_port_b_1" BEL
        "aychips[1].ay/reg_port_b_0" BEL "aychips[1].ay/reg_port_a_7" BEL
        "aychips[1].ay/reg_port_a_6" BEL "aychips[1].ay/reg_port_a_5" BEL
        "aychips[1].ay/reg_port_a_4" BEL "aychips[1].ay/reg_port_a_3" BEL
        "aychips[1].ay/reg_port_a_2" BEL "aychips[1].ay/reg_port_a_1" BEL
        "aychips[1].ay/reg_port_a_0" BEL "aychips[1].ay/regaddr_7" BEL
        "aychips[1].ay/regaddr_6" BEL "aychips[1].ay/regaddr_5" BEL
        "aychips[1].ay/regaddr_4" BEL "aychips[1].ay/regaddr_3" BEL
        "aychips[1].ay/regaddr_2" BEL "aychips[1].ay/regaddr_1" BEL
        "aychips[1].ay/regaddr_0" BEL "aychips[0].ay/envelope_period_15" BEL
        "aychips[0].ay/envelope_period_14" BEL
        "aychips[0].ay/envelope_period_13" BEL
        "aychips[0].ay/envelope_period_12" BEL
        "aychips[0].ay/envelope_period_11" BEL
        "aychips[0].ay/envelope_period_10" BEL
        "aychips[0].ay/envelope_period_9" BEL
        "aychips[0].ay/envelope_period_8" BEL
        "aychips[0].ay/envelope_period_7" BEL
        "aychips[0].ay/envelope_period_6" BEL
        "aychips[0].ay/envelope_period_5" BEL
        "aychips[0].ay/envelope_period_4" BEL
        "aychips[0].ay/envelope_period_3" BEL
        "aychips[0].ay/envelope_period_2" BEL
        "aychips[0].ay/envelope_period_1" BEL
        "aychips[0].ay/envelope_period_0" BEL "aychips[0].ay/period_c_11" BEL
        "aychips[0].ay/period_c_10" BEL "aychips[0].ay/period_c_9" BEL
        "aychips[0].ay/period_c_8" BEL "aychips[0].ay/period_c_7" BEL
        "aychips[0].ay/period_c_6" BEL "aychips[0].ay/period_c_5" BEL
        "aychips[0].ay/period_c_4" BEL "aychips[0].ay/period_c_3" BEL
        "aychips[0].ay/period_c_2" BEL "aychips[0].ay/period_c_1" BEL
        "aychips[0].ay/period_c_0" BEL "aychips[0].ay/period_b_11" BEL
        "aychips[0].ay/period_b_10" BEL "aychips[0].ay/period_b_9" BEL
        "aychips[0].ay/period_b_8" BEL "aychips[0].ay/period_b_7" BEL
        "aychips[0].ay/period_b_6" BEL "aychips[0].ay/period_b_5" BEL
        "aychips[0].ay/period_b_4" BEL "aychips[0].ay/period_b_3" BEL
        "aychips[0].ay/period_b_2" BEL "aychips[0].ay/period_b_1" BEL
        "aychips[0].ay/period_b_0" BEL "aychips[0].ay/period_a_11" BEL
        "aychips[0].ay/period_a_10" BEL "aychips[0].ay/period_a_9" BEL
        "aychips[0].ay/period_a_8" BEL "aychips[0].ay/period_a_7" BEL
        "aychips[0].ay/period_a_6" BEL "aychips[0].ay/period_a_5" BEL
        "aychips[0].ay/period_a_4" BEL "aychips[0].ay/period_a_3" BEL
        "aychips[0].ay/period_a_2" BEL "aychips[0].ay/period_a_1" BEL
        "aychips[0].ay/period_a_0" BEL "aychips[0].ay/amp_c_3" BEL
        "aychips[0].ay/amp_c_2" BEL "aychips[0].ay/amp_c_1" BEL
        "aychips[0].ay/amp_c_0" BEL "aychips[0].ay/envelope_shape_3" BEL
        "aychips[0].ay/envelope_shape_2" BEL "aychips[0].ay/envelope_shape_1"
        BEL "aychips[0].ay/envelope_shape_0" BEL "aychips[0].ay/amp_a_3" BEL
        "aychips[0].ay/amp_a_2" BEL "aychips[0].ay/amp_a_1" BEL
        "aychips[0].ay/amp_a_0" BEL "aychips[0].ay/ampmode_c" BEL
        "aychips[0].ay/amp_b_3" BEL "aychips[0].ay/amp_b_2" BEL
        "aychips[0].ay/amp_b_1" BEL "aychips[0].ay/amp_b_0" BEL
        "aychips[0].ay/ampmode_a" BEL "aychips[0].ay/noise_period_4" BEL
        "aychips[0].ay/noise_period_3" BEL "aychips[0].ay/noise_period_2" BEL
        "aychips[0].ay/noise_period_1" BEL "aychips[0].ay/noise_period_0" BEL
        "aychips[0].ay/ampmode_b" BEL "aychips[0].ay/enable_chan_7" BEL
        "aychips[0].ay/enable_chan_6" BEL "aychips[0].ay/enable_chan_5" BEL
        "aychips[0].ay/enable_chan_4" BEL "aychips[0].ay/enable_chan_3" BEL
        "aychips[0].ay/enable_chan_2" BEL "aychips[0].ay/enable_chan_1" BEL
        "aychips[0].ay/enable_chan_0" BEL "aychips[0].ay/reg_port_b_7" BEL
        "aychips[0].ay/reg_port_b_6" BEL "aychips[0].ay/reg_port_b_5" BEL
        "aychips[0].ay/reg_port_b_4" BEL "aychips[0].ay/reg_port_b_3" BEL
        "aychips[0].ay/reg_port_b_2" BEL "aychips[0].ay/reg_port_b_1" BEL
        "aychips[0].ay/reg_port_b_0" BEL "aychips[0].ay/reg_port_a_7" BEL
        "aychips[0].ay/reg_port_a_6" BEL "aychips[0].ay/reg_port_a_5" BEL
        "aychips[0].ay/reg_port_a_4" BEL "aychips[0].ay/reg_port_a_3" BEL
        "aychips[0].ay/reg_port_a_2" BEL "aychips[0].ay/reg_port_a_1" BEL
        "aychips[0].ay/reg_port_a_0" BEL "aychips[0].ay/regaddr_7" BEL
        "aychips[0].ay/regaddr_6" BEL "aychips[0].ay/regaddr_5" BEL
        "aychips[0].ay/regaddr_4" BEL "aychips[0].ay/regaddr_3" BEL
        "aychips[0].ay/regaddr_2" BEL "aychips[0].ay/regaddr_1" BEL
        "aychips[0].ay/regaddr_0" BEL "cnt26_0" BEL "cnt26_1" BEL "cnt26_2"
        BEL "cnt26_3" BEL "cnt26_4" BEL "cnt26_5" BEL "cnt26_6" BEL "cnt26_7"
        BEL "cnt26_8" BEL "cnt26_9" BEL "cnt26_10" BEL "cnt26_11" BEL
        "cnt26_12" BEL "cnt26_13" BEL "cnt26_14" BEL "cnt26_15" BEL "cnt26_16"
        BEL "cnt26_17" BEL "cnt26_18" BEL "cnt26_19" BEL "cnt26_20" BEL
        "cnt26_21" BEL "cnt26_22" BEL "cnt26_23" BEL
        "dcm_final_inst/clkout1_buf" PIN "dcm_final_inst/dcm_sp_inst_pins<1>"
        BEL "line_cnt_0" BEL "line_cnt_1" BEL "line_cnt_2" BEL "line_cnt_3"
        BEL "line_cnt_4" BEL "line_cnt_5" BEL "line_cnt_6" BEL "line_cnt_7"
        BEL "line_cnt_8" BEL "line_cnt_1_1" BEL "line_cnt_0_1" BEL
        "line_cnt_1_2" BEL "line_cnt_0_2" BEL "aychips[1].ay/regaddr_1_1" BEL
        "aychips[1].ay/regaddr_3_1" BEL "aychips[1].ay/regaddr_1_2" BEL
        "aychips[1].ay/regaddr_2_1" BEL "aychips[1].ay/regaddr_0_1" BEL
        "aychips[0].ay/regaddr_0_1" BEL "aychips[0].ay/regaddr_3_1" BEL
        "cnt26_1_1" BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/has_mux_a.A/sel_pipe_1"
        BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/has_mux_a.A/sel_pipe_2"
        BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/has_mux_b.B/sel_pipe_1"
        BEL
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/has_mux_b.B/sel_pipe_2"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[31].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[31].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[30].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[30].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[29].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[29].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[28].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[28].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[27].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[27].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[26].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[26].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[25].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[25].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[24].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[24].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[23].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[23].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[22].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[22].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[21].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[21].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[20].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[20].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[19].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[19].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[18].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[18].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[17].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[17].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[16].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[16].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[15].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[15].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[14].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[14].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[13].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[13].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[12].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[12].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[11].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[11].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[10].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[10].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[9].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[9].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[8].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[8].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<28>"
        PIN
        "shadowram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/TRUE_DP.PRIM18.ram_pins<29>"
        BEL "dcm_final_inst/clkf_buf";
PIN dcm_final_inst/dcm_sp_inst_pins<2> = BEL "dcm_final_inst/dcm_sp_inst"
        PINNAME CLKIN;
TIMEGRP clk_intermediate_13mhz = PIN "dcm_final_inst/dcm_sp_inst_pins<2>" BEL
        "clk_intermediate_13mhz_BUFG";
TIMEGRP TO_chroma_mode_reg_5_LD = BEL "chroma_mode_reg_5_LD";
TIMEGRP TO_border_ink_0_LD = BEL "border_ink_0_LD";
TS_nCLOCK = PERIOD TIMEGRP "nCLOCK" 307.692 ns HIGH 50%;
TS_clk_intermediate_13mhz = PERIOD TIMEGRP "clk_intermediate_13mhz" TS_nCLOCK
        / 4 HIGH 50%;
TS_dcm_final_inst_clk2x = PERIOD TIMEGRP "dcm_final_inst_clk2x"
        TS_clk_intermediate_13mhz / 2 HIGH 50%;
TS_TO_chroma_mode_reg_5_LD = MAXDELAY TO TIMEGRP "TO_chroma_mode_reg_5_LD"
        TS_nCLOCK DATAPATHONLY;
TS_TO_border_ink_0_LD = MAXDELAY TO TIMEGRP "TO_border_ink_0_LD" TS_nCLOCK
        DATAPATHONLY;
SCHEMATIC END;

